<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
    <div class="col-xs-12 col-md-8 col-md-offset-2">    
      <p>Number of toActive actions {{this.counterService.activesCounter}}</p>
      <p>Number of toInActive actions {{this.counterService.inactivesCounter}}</p>
    </div>
  </div>
</div>
