
  <div class="row" >
    <h5 style="    padding: 12px;">Route Report</h5>
  </div>

    <!-- <mat-select placeholder="User">
      <mat-option *ngFor="let user of users" [value]="user">
        {{user}}
      </mat-option>
    </mat-select> -->
    <!-- <input matInput placeholder="User" [formControl]="reciever" > -->
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select User"  matInput [formControl]="reciever" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <div class="row">
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="routeReport()" [disabled]="!this.reciever.value">Route</button>
    </div>
    <div class="col-3">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </div>
 