<app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>

    <div class="row">
      <div class="col-4">
          
        <mat-form-field class="example-full-width">
          <input matInput   placeholder="Director Number" #partyNumber>
        </mat-form-field>
      </div>
      <div class="col-4" >
          <!-- <button mat-button-raised color="primary"  (click)="getDirectorInfo(partyNumber)" >Get Director Info</button>  -->
          <button mat-raised-button color="primary" style="margin-top: 12px" (click)="getDirectorInfo(partyNumber)">Get Director Info </button>

    </div>
    </div>
<app-person-page [(personForm)]="personForm" [isDirector]="true"></app-person-page>
<button mat-raised-button color="primary" style="margin-top: 12px" (click)="SaveDirector()">Save Director </button>
<button mat-raised-button color="warn" style="margin-top: 12px" (click)="closePerson()">Cancel </button>
<button mat-raised-button color="primary" style="margin-top: 12px" (click)="SaveDirectorToSource()">Cascade Update  </button>