<app-header ></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
            <!-- <app-recipes *ngIf="selectedTab === 'app-recipes' "></app-recipes>
            <app-shopping-list *ngIf="selectedTab === 'app-shopping-list' "></app-shopping-list> -->
        </div>
    </div>
</div>