.window{
    padding-right: 300px;
    padding-left: 300px;
}

hr {
    /* display: block;
    height: 1px;
    border: 0; */
    border-top: 1px solid #000;
    /* margin: 1em 0;
    padding: 0; */
    }


.margin-space{
    margin-right: 23px;
}


    