<app-loader></app-loader>
<div>

    <!-- <mat-chip-list> -->
        <button mat-raised-button color="primary" class="margin-space" [disabled]="disableButton" (click)="saveStrReport()" *ngIf="createMode" selected>Save Report As Draft
            <mat-icon>save
            </mat-icon>
        </button>
        <button mat-raised-button color="primary" class="margin-space" [disabled]="disableButton" (click)="updateStrReport()" *ngIf="!createMode" selected>Save Report As Draft
            <mat-icon>save
            </mat-icon>
          </button>
        <button mat-raised-button color="primary" class="margin-space" (click)="closeReportPage()" selected>Close Report page
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="margin-space" [disabled]="disableButton" (click)="validateReport()" selected>Validate Report</button>
        <button  mat-raised-button color="primary" class="margin-space" [disabled]="disableButton" (click)="ReportPreview()">Pdf Preview</button>
        <button mat-raised-button [disabled]="disableButton" color="primary" class="margin-space" [matMenuTriggerFor]="menu" selected *ngIf="_ButtonAction">Actions</button>
<!-- </mat-chip-list> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="SendToChecker()" *ngIf="_SendToCheckerAction">
        Send to Checker</button>
      <button mat-menu-item (click)="SendToAMLHead()" *ngIf="_SendToAMLHEADAction">Send to AML HEAD</button>
      <button mat-menu-item (click)="SendToAMLHead()" *ngIf="_SendToAMLHEADActionFromMaker">Send to AML HEAD</button>

      <button mat-menu-item (click)="ReturnToMaker()" *ngIf="_ReturnToMakerAction">Return to Maker</button>
      <button mat-menu-item (click)="ReturnToMaker()" *ngIf="_ReturnToMakerActionManager">Return to Maker</button>
  
      <button mat-menu-item (click)="ReturnToChecker()" *ngIf="_ReturnToCheckerAction">Return to Checker</button>
      <button mat-menu-item (click)="reOpenReport()" *ngIf="_reOpenReportAction">Re-Open Report</button>
      <button mat-menu-item (click)="MLCUAcknowledge()" *ngIf="_MLCUAcknowledgeAction">MLCU MODIFICATION</button>
      <button mat-menu-item (click)="Submit()" *ngIf="_SubmitAction">Submitted</button>
  
      <button mat-menu-item (click)="closeReport()" *ngIf="_closeReportAction">close Report</button>
      <button   [disabled]="disableButton" mat-menu-item (click)="GenerateXML()" *ngIf="_generateXMLAction">Generate XML</button>
      <button [disabled]="disableButton" mat-menu-item (click)="makeAIfRequest()" *ngIf="_AIFRequestAction">AIF Request</button>

    </mat-menu>
  
</div>

    

<ng-container *ngIf="reportDetailControl">


    <mat-tab-group [(selectedIndex)]="index">
        <mat-tab label="Report Details">
            <app-str-report-details [(reportDetailControl)]="reportDetailControl"></app-str-report-details>
        </mat-tab>
        <mat-tab label="Report Indicator">
            <app-report-indicatiors [reportController]="reportDetailControl"></app-report-indicatiors>
        </mat-tab>

        <!--  [transactionArrayComingWithReport]="transactionArrayComingWithReport" -->
        <mat-tab label="Transaction Details">
            <app-transaction-details [arrayOfTransactions]="parentArrayOfTransactions"
              #transStat (addNewTab)="accept($event)"
                (addNewTabForCascadingTransactions)="acceptIncomingCascadedTransactions($event)"
                (editTransaction)="editTransactionEvent($event)"
                (emitNewArrayAfterUpdate)="acceptNewArrayAfterUpdate($event)"></app-transaction-details>

        </mat-tab>

        <mat-tab *ngIf="addNewTabActive">
            <ng-template mat-tab-label>
                Add Single Transaction
                <mat-icon class="example-tab-icon" (click)="closeAddNewSingleActivity()" color="primary">close
                </mat-icon>
            </ng-template>
            <app-add-new-single-transaction [strReportTransactionControl]="strReportTransactionControl"
                (trasnactionFormOutput)="acceptTrasactionAddedFromChild($event)"></app-add-new-single-transaction>
        </mat-tab>
        <mat-tab label="History">
                <app-history [(reportDetailControl)]="reportDetailControl"></app-history>
            </mat-tab>
            <mat-tab label="Comment">
                <app-comment type="report"></app-comment>
              </mat-tab>
        <mat-tab label="Cascade Update" *ngIf="addNewTabActiveForCascadeTab">
            <ng-template mat-tab-label>
                Cascade Update
                <mat-icon class="example-tab-icon" (click)="closeCascadeActivity()" color="primary">close</mat-icon>
            </ng-template>
            <app-cascade-transaction [CascadeTrans]="CascadeTrans"></app-cascade-transaction>
        </mat-tab>
        <mat-tab label="Validation" *ngIf="validationIndicators">
            <ng-template mat-tab-label>
                Validation
                <mat-icon class="example-tab-icon" (click)="closeValidationTab()" color="primary">close</mat-icon>

            </ng-template>
            <app-dynamic-forms-validations [validationErrors]="validationErrors" [reportControl]="reportDetailControl"
                (closeValidationTab)="closeValidationTab($event)" [validationErrorsLabels]="validationErrorsLabels">
            </app-dynamic-forms-validations>
        </mat-tab>
       
        <!-- <mat-tab label="Comments"> Content 5 </mat-tab>
        <mat-tab label="History"> Content 6 </mat-tab>
        <mat-tab label="Attachments"> Content 7 </mat-tab> -->
    </mat-tab-group>

</ng-container>


<!-- [closable]="true" active]="true"
{{reportDetailControl.value | json}} -->

<!-- {{reportDetailControl?.value | json}} -->
<!-- <app-loader></app-loader> -->
<!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div> -->