<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="printForm(formData.value)" #formData="ngForm">
        <div class="form-group">
          <label for="email">Email: <span class="text-danger">*</span> </label>
          <input id="email" type="email" class="form-control" ngModel name="email" required email #email=ngModel>
          <span class="text-danger" *ngIf="email.invalid && email.touched">Please Enter a Valid Email!</span>
        </div>

        <div class="form-group">
          <label for="subscription">Subscriptions: </label>
          <select id="subscription" class="form-control" [ngModel]="defaultSubscription"  name="subscription">
            <option value="Basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="password">Password: <span class="text-danger">*</span> </label>
          <input type="password" id="password" class="form-control" ngModel name="password" required #password=ngModel>
          <span class="text-danger" *ngIf="password.invalid && password.touched" >Please Enter a Valid Password!</span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <span class="text-danger" *ngIf="formData.invalid && formData.touched" >Please Validate the form before submitting!!</span>

    </div>
  </div>
</div>
