
<mat-accordion>
    <mat-expansion-panel [expanded]="addressFormGroup.length>0">
        <mat-expansion-panel-header>
            <mat-panel-title>Addresses</mat-panel-title>
            <mat-panel-description>Add Address</mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-left: 22px;" [(formGroup)]="inputAddress">
            <mat-form-field >
                <mat-select  style="margin-bottom: -0.5%;" placeholder="Address Type"   type="text"
                    formControlName="addressType">
                    <mat-option *ngFor="let av of addtype_values" [value]="av.key">
                        {{av.value}}
                      </mat-option>
                </mat-select>
                <mat-error *ngIf="inputAddress.controls.addressType?.hasError('required')
                && (inputAddress.controls.addressType.dirty || inputAddress.controls.addressType.touched)">
                    <strong>Address Type</strong> Required !!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Address"  type="text" id="newAttributeAddress"
                    formControlName="address">
                <mat-error *ngIf="inputAddress.controls.address?.hasError('required')
                    && (inputAddress.controls.address.dirty || inputAddress.controls.address.touched)">
                    <strong>Address </strong> Required !!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City"  type="text" id="newAttributecity"
                    formControlName="city">
                <mat-error *ngIf="inputAddress.controls.city?.hasError('required')
                    && (inputAddress.controls.city.dirty || inputAddress.controls.city.touched)">
                    <strong>City</strong> Required !!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Zip code"  type="text" id="newAttributezip"
                    formControlName="zip">
                <mat-error *ngIf="inputAddress.controls.zip?.hasError('required')
                    && (inputAddress.controls.zip.dirty || inputAddress.controls.zip.touched)">
                    <strong>Zip Code</strong> Required !!
                </mat-error>
            </mat-form-field>
            <mat-form-field>

                <mat-select style="margin-bottom: -1px;" placeholder="Country"  type="text" id="newAttributecountry" formControlName="countryCode">
                    <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                        {{cv.value}}
                    </mat-option>
                </mat-select>


                <mat-error *ngIf="inputAddress.controls.countryCode?.hasError('required')
                && (inputAddress.controls.countryCode.dirty || inputAddress.controls.countryCode.touched)">
                    <strong>Country code</strong> Required !!
                </mat-error>
            </mat-form-field>
           <mat-form-field>
            <input matInput placeholder="State"  type="text" id="newAttributestate" formControlName="state">
            <mat-error *ngIf="inputAddress.controls.state?.hasError('required')
                    && (inputAddress.controls.state.dirty || inputAddress.controls.state.touched)">
                <strong>State</strong> Required !!
            </mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea style="margin-bottom: -7px;" matInput placeholder="Comment"  type="text" id="newAttributecomment"
                    formControlName="addressComments"></textarea>
                <mat-error *ngIf="inputAddress.controls.addressComments?.hasError('required')
                    && (inputAddress.controls.addressComments.dirty || inputAddress.controls.addressComments.touched)">
                    <strong>comments</strong> Required !!
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" mat-button (click)="addFieldValue()">Add </button>
        </div>
     
        <table class="table table-striped table-bordered" [formGroup]="addressFormGroup.parent">
            <thead>
                <tr>
                   
                    <th>Address Type</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <ng-container>
            <tbody formArrayName="address" *ngFor="let item of addressFormGroup.controls; let i = index;" >

                <tr [formGroupName]="i">
                      
                    <td>
                            <mat-select  style="margin-bottom: -0.5%;" placeholder="Address Type"  type="text"
                            formControlName="addressType">
                            <mat-option *ngFor="let av of addtype_values" [value]="av.key">
                                {{av.key}}
                              </mat-option>
                        </mat-select>
                        <mat-error *ngIf="item.controls.addressType?.hasError('required')
                        && (item.controls.addressType.dirty || item.controls.addressType.touched)">
                            <strong>Address type</strong> Required !!
                        </mat-error>
                    </td>
                    <td>
                        <input  type="text" formControlName="address" />
                        <mat-error *ngIf="item.controls.address?.hasError('required')
                        && (item.controls.address.dirty || item.controls.address.touched)">
                            <strong>Address</strong> Required !!
                        </mat-error>
                    </td>
                    <td>
                        <input  type="text" formControlName="city" />
                        <mat-error *ngIf="item.controls.city?.hasError('required')
                        && (item.controls.city.dirty || item.controls.city.touched)">
                            <strong>city</strong> Required !!
                        </mat-error>
                    </td>
                    <td>
                            <mat-select style="margin-bottom: -1px;" placeholder="Country" type="text" formControlName="countryCode">
                                    <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                                        {{cv.key}}
                                    </mat-option>
                                </mat-select>
                        <mat-error *ngIf="item.controls.countryCode?.hasError('required')
                        && (item.controls.countryCode.dirty || item.controls.countryCode.touched)">
                            <strong>country code</strong> Required !!
                        </mat-error>
                    </td>
                    <td>
                        <input  type="text" formControlName="state" />
                        <mat-error *ngIf="item.controls.state?.hasError('required')
                        && (item.controls.state.dirty || item.controls.state.touched)">
                            <strong>State</strong> Required !!
                        </mat-error>
                    </td>
                    <td>
                            <input  type="text" formControlName="addressComments" />
                            <mat-error *ngIf="item.controls.addressComments?.hasError('required')
                            && (item.controls.addressComments.dirty || item.controls.addressComments.touched)">
                                <strong>comments</strong> Required !!
                            </mat-error>
                        </td>
                    
                    <td (click)="deleteFieldValue(i)">
                        <button color="warn" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                          </button>
                    </td>
                </tr>
            </tbody>
            </ng-container>
        </table>
    </mat-expansion-panel>


</mat-accordion>