<!-- {{transactionControl?.value | json}} -->
<app-loader></app-loader>
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step>
    <form [(formGroup)]="transactionControl">
      <ng-template matStepLabel>Transaction Details</ng-template>


      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">

            <input matInput #tRef formControlName="transactionnumber" placeholder="Transaction Reference">



            <mat-error
              *ngIf="TranCtrl.transactionnumber?.hasError('required')&& (TranCtrl.transactionnumber.dirty || TranCtrl.transactionnumber.touched)">
              <strong>Transaction Reference </strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-1" style="padding-top: 33px;">
          
          <button type="button" class="btn btn-info" (click)="getTransactionFromSource(tRef)">Get Info</button>
        </div>

        <div class="col-5">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="teller" placeholder="Teller">
            <mat-error
              *ngIf="TranCtrl.teller?.hasError('required')&& (TranCtrl.teller.dirty || TranCtrl.teller.touched)">
              <strong>Teller </strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Internal Reference Number" formControlName="internalRefNumber">


            <mat-error
              *ngIf="TranCtrl.internalRefNumber?.hasError('required')&& (TranCtrl.internalRefNumber.dirty || TranCtrl.internalRefNumber.touched)">
              <strong>Internal ReTranCtrl. Num</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Location" formControlName="transactionLocation">


            <mat-error
              *ngIf="TranCtrl.transactionLocation?.hasError('required')&& (TranCtrl.transactionLocation.dirty || TranCtrl.transactionLocation.touched)">
              <strong>Transaction location</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Description" formControlName="transactionDescription">


            <mat-error
              *ngIf="TranCtrl.transactionDescription?.hasError('required')&& (TranCtrl.transactionDescription.dirty || TranCtrl.transactionDescription.touched)">
              <strong>Transaction description</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width">

            <input type="date" matInput placeholder="Date" formControlName="dateTransaction">


            <mat-error
              *ngIf="TranCtrl.dateTransaction?.hasError('required')&& (TranCtrl.dateTransaction.dirty || TranCtrl.dateTransaction.touched)">
              <strong>Date of transaction</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Type" formControlName="transmodeCode" placeholder="Transmode Code">
              <mat-option *ngFor="let type of transmode_code" [value]="type.key">
                {{type.value}}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="TranCtrl.transmodeCode?.hasError('required')&& (TranCtrl.transmodeCode.dirty || TranCtrl.transmodeCode.touched)">
              <strong>Transmode Code</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">

            <input matInput type="number" min="0" formControlName="amountLocal" placeholder="Amount Local">


            <mat-error
              *ngIf="TranCtrl.amountLocal?.hasError('required')&& (TranCtrl.amountLocal.dirty || TranCtrl.amountLocal.touched)">
              <strong>Amount Local</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <!-- <div class="col-lg-6">
          <mat-form-field>
            <mat-select [(value)]="Goods_type" placeholder="Add Goods&services">
              <mat-option>None</mat-option>
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="col-lg-2" formGroupName="lateDeposit">

          <mat-checkbox formControlName="value">Late Deposite</mat-checkbox>

        </div>
        <div class="col-lg-4" *ngIf="late">
          <mat-form-field class="example-full-width">

            <input type="date" matInput placeholder="Date Posting" formControlName="datePosting">
          </mat-form-field>

        </div>
      </div>
      <div  class="example-full-width">
          <app-goods-services (saveTransactionFrom)=acceptTransationFrom($event)
           (saveGoods)="acceptGoddsForm($event)" [transactionControl]="transactionControl">
          </app-goods-services>
      </div>


      <div>
        <button mat-button color="primary" matStepperNext type="button">Next</button>
      </div>

    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>From</ng-template>
    <app-from-transaction (emitPartyChange)="acceptBooleanPartyChange($event)" [(transactionControl)]="transactionControl">
    </app-from-transaction>
    <div>
        <button mat-button color="primary" matStepperPrevious type="button">Back</button>
        <button mat-button color="primary" matStepperNext type="button">Next</button>
      </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>To</ng-template>
    <app-to-transaction (emitPartyChange)="acceptBooleanPartyChange($event)" [(transactionControl)]="transactionControl">
    </app-to-transaction>
    <div>
      <button mat-button color="primary" matStepperPrevious type="button">Back</button>
      <button mat-button color="primary" matStepperNext type="button">Next</button>
    </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Save</ng-template>
    <div>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="saveFullTransaction()" *ngIf="addTransactionState">Save</button>
      <button mat-button color="primary" (click)="updateFullTransaction()" *ngIf="editTransactionState">Update</button>
    </div>
  </mat-step>


</mat-horizontal-stepper>