<!-- {{PhonesArray.value | json}} -->

<mat-accordion>
    <mat-expansion-panel [expanded]="PhonesArray.length>0">
        <mat-expansion-panel-header>
            <mat-panel-title>Phones</mat-panel-title>
            <mat-panel-description>Add phone</mat-panel-description>
        </mat-expansion-panel-header>
        <div  style="padding-left: 26px;" [formGroup]="inputPhone">
            <mat-form-field>
                <mat-select placeholder="Contact Type"  type="text" id="newAttributeCotype"
                    formControlName="tphContactType">
                    <mat-option *ngFor="let cv of contact_values" [value]="cv.key">
                        {{cv.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="inputPhone.controls.tphContactType?.hasError('required')
            && (inputPhone.controls.tphContactType.dirty || inputPhone.controls.tphContactType.touched)">
                    <strong>Contact Type</strong> Required !!
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Communication Type"  type="text" 
                    formControlName="tphCommunicationType">
                    <mat-option *ngFor="let cv2 of communication_values" [value]="cv2.key">
                        {{cv2.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="inputPhone.controls.tphCommunicationType?.hasError('required')
            && (inputPhone.controls.tphCommunicationType.dirty || inputPhone.controls.tphCommunicationType.touched)">
                    <strong>Communication Type</strong> Required !!
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input style="margin-bottom: 1%;" matInput placeholder="Phone Number"  type="text" id="newAttributePnum"
                    formControlName="tphNumber">
                <mat-error *ngIf="inputPhone.controls.tphNumber?.hasError('required')
            && (inputPhone.controls.tphNumber.dirty || inputPhone.controls.tphNumber.touched)">
                    <strong>Phone number</strong> Required !!
                </mat-error>

                <mat-error *ngIf="inputPhone.controls.tphNumber?.errors?.pattern">
                    Enter Valid number </mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea style="margin-bottom: -3%;" matInput placeholder="Comment"  id="newAttributecomment"
                    formControlName="phoneComments"></textarea>
            </mat-form-field>

            <button type="button" mat-raised-button color="primary" (click)="addFieldValue()">Add </button>
            <!-- <button color="primary" mat-raised-button (click)="addFieldValue()">Add</button> -->
        </div>
        <!-- <button mat-button color="accent">cancel</button> -->
        <table class="table table-striped table-bordered" [formGroup]="PhonesArray.parent">
            <thead>
                <tr>
                    <th>Contact Type</th>
                    <th>Communication Type</th>
                    <th>Phone number</th>
                    <th>Phone Comments</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody formArrayName="phone" *ngFor="let item of PhonesArray.controls; let i = index;">
                <tr [formGroupName]="i">
                    <td>
                            <mat-select placeholder="Contact Type"  type="text" 
                            formControlName="tphContactType">
                            <mat-option *ngFor="let cv of contact_values" [value]="cv.key">
                                {{cv.key}}
                            </mat-option>
                        </mat-select>
                        <!-- <input  type="text" formControlName="tphContactType" /> -->
                        <mat-error *ngIf="item.controls.tphContactType?.hasError('required')
                             && (item.controls.tphContactType.dirty || item.controls.tphContactType.touched)">
                            Contact Type required
                        </mat-error>

                    </td>
                    <td>
                            <mat-select placeholder="Communication Type"  type="text" 
                            formControlName="tphCommunicationType">
                            <mat-option *ngFor="let cv2 of communication_values" [value]="cv2.key">
                                {{cv2.key}}
                            </mat-option>
                        </mat-select>
                        <!-- <input  type="text" formControlName="tphCommunicationType" /> -->
                        <mat-error
                            *ngIf="item.controls.tphCommunicationType?.hasError('required')
                             && (item.controls.tphCommunicationType.dirty || item.controls.tphCommunicationType.touched)">
                            communication type required
                        </mat-error>
                    </td>
                    <td>
                        <input  type="text" formControlName="tphNumber" />
                        <mat-error *ngIf="item.controls.tphNumber?.hasError('required')
                            && (item.controls.tphNumber.dirty || item.controls.tphNumber.touched)">
                            phone Number required
                        </mat-error>

                        <mat-error *ngIf="item.controls.tphNumber?.errors?.pattern">
                            Enter Valid number </mat-error>
                    </td>
                    <td>
                        <input  type="text" formControlName="phoneComments" />
                    </td>
                    <td (click)="deleteFieldValue(i)">
                        <button color="warn"  mat-icon-button><mat-icon>delete</mat-icon></button>
                        
                        <!-- <button mat-button color="accent" class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button> -->
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- <td>
            <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </td>
         -->
    </mat-expansion-panel>






</mat-accordion>