<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid">Save</button>
          <button class="btn btn-danger" type="button" [routerLink]="['../']" >Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL: </label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description: </label>
            <textarea rows="6" id="description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
             formArrayName="ingredients">
          <div class="row" [formGroupName]="i" style="margin-top:10px">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>

    </form>
  </div>
</div>
