.comment_div{
    background: #FFF;
    padding: 20px;
    position: relative;
    border: 1px solid #e3e2e2;
    box-shadow: 2px 2px 2px #d4d2d2;
    margin-bottom: 20px;
}

.allcomments{
    padding: 20px;
    position: relative;
    border: 1px solid #e3e2e2;
    box-shadow: 2px 2px 2px #d4d2d2;
    margin-bottom: 20px;;
    /* display: none; */
}

.comment_div{
    margin-top: 10px
}

.commented_by,.commented_date,.attatchments span{
    font-size: 14px;
    color: #28607b;
}

.comment_desc{
    display: block;
    margin-left: 10px;
    font-size: 15px
}

.comment_block{
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background: #FFF;
    padding: 5px 10px;
}

.comment_block:hover{
    background: #e8f4f9;
}

.attatchments li{
    display: block;
    margin: 7px
}

.attatchments li span{
    margin-left: 5px
}

.attatchments li span:hover{
    color: #5f5fbe;
    text-decoration: underline
}

.comment-icons{
    /* position: absolute; */
    bottom: 0;
    color: #4a4848 ;
}

.delete-icon:hover{
    color: #080808
}

.update-icon:hover{
    color: #080808
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}

.animate-show.ng-hide {
    opacity: 0;
}

.close-icon{
    float: right;
    font-size: 14px;
    color: #CCC;
}

.close-icon:hover{
    color: #8a8888
}
