<div class="container">
  <div class="row">
    <div class="col-lg-8" style="margin: auto">
      <div class="comment_div">
        <span style="letter-spacing: 1px;color: #28607b;font-size: 17px;">COMMENT: </span>
        <form #form_="ngForm" (ngSubmit)="addComment(form_)" style="margin-top: 10px;">
          <mat-form-field style="width: 100%;font-size: 14px">
            <input matInput placeholder="Enter a Comment" name="desc" [(ngModel)]="desc">
          </mat-form-field>
          <div style="display: inline-block;">
            <input type="file" class="form-control-file" name="MultipleFiles" #files2 multiple>
          </div>
          <span matTooltip="Please, Enter a Comment">
            <button color="primary" mat-raised-button [disabled]="( desc=='' || desc==null) && files2.files?.length==0 "
              style="width: 20%;display: block;float: right;">Comment</button>
          </span>
        </form>
      </div>
      <hr>

      <div class="allcomments">
        <div class="comment_block " id="B{{index}}" *ngFor="let comm of comments_block;let index=index">
          <hr style="margin-bottom: 10px;margin-top: 10px">

          <form id="U{{index}}" style="display: none" #formUpdate="ngForm"
            (ngSubmit)="updateComment(formUpdate.value,index,comm)">
            <span class="material-icons close-icon" (click)="closeUpdateComment(index)">close</span>

            <mat-form-field>
              <input type="text" matInput name="comment_desc" [(ngModel)]="comm.description">
            </mat-form-field>
            <input type="file" class="form-control-file" (change)="onChangeFile($event.target.files)"
              name="MultipleFiles" #filesUpdated multiple ngModel>
            <div class="row">
              <div class="col-lg-10">
                <div *ngIf="comm.attachment?.length>0">
                  <span>Comment Attatchments:</span>
                  <div class="attatchments" style="position: relative;" *ngFor="let f of comm.attachment">
                    <li class="fa fa-paperclip" (click)="downloadFile(f.fileName)" style="display: inline;">
                      <span>{{ f.fileName }} </span></li>
                    <span class="material-icons delete-icon animate-show" (click)="deleteSpecificFile(f)"
                      style="display: inline;font-size: 20px;position: absolute;">delete</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <button mat-raised-button color="primary"
                  style="float: right;">Update</button>
              </div>
            </div>
          </form>

          <div class="coment-details " id="C{{index}}">
            <span class="commented_by" *ngIf="comm.userview">By: <b>{{ comm.userview.displayName }}</b></span>
            <span class="commented_by" *ngIf="comm.uplodedByName">By: <b>{{ comm.uplodedByName }} </b></span>
            <span class="commented_date">{{ comm.uploadDate | date:meduim}}</span>
            <span class="comment_desc">{{ comm.description }}</span>
            <div class="row">
              <div class="col-lg-10">
                <div class="attatchments" *ngIf="comm.attachment?.length>0">
                  <span>Comment Attatchments:</span>
                  <li class="fa fa-paperclip" *ngFor="let f of comm.attachment" (click)="downloadFile(f.fileName)">
                    <span>{{ f.fileName }} </span></li>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="comment-icons" style="float: right;">
                  <span class=" material-icons edit-icon animate-show" title="edit"
                    (click)="showUpdateComment(index)">edit</span>
                  <mat-icon class="delete-icon animate-show" title="Delete"
                    (click)="deleteComment(comm.id,comm.description)" *ngIf="_hasDeleteComment">delete
                  </mat-icon>
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-bottom: 10px;margin-top: 10px">
        </div>
      </div>
    </div>
  </div>
</div>