/* .example-card {
  max-width: 100%;
}
table {
  width: 50%;
} */

hr {
    /* display: block;
    height: 1px;
    border: 0; */
    border-top: 1px solid #000;
    /* margin: 1em 0;
    padding: 0; */
    }
    .ng-invalid.ng-touched:not(div) {
      border-left: 5px solid #42A948; /* green */
    }
    .example-full-width{
      width: 100%
    }
  .signatories{
    margin: 5px;

  }
  .accountSignatories{
    font-size: 22px;
    font-style: oblique;
    font-family: none;
    letter-spacing: 0px;
    color: #5a1611;
    padding-left: 10px;
    font-weight: bolder;
  }