<app-loader></app-loader>
<div [formGroup]="accountForm">

    <div style="width: -webkit-fill-available;">

        <div class="row">
            <div class="col-2">
                <mat-checkbox class="example-margin" formControlName="isReviewed">Reviewed</mat-checkbox>
            </div>
            <div class="col-3">
                <mat-form-field>
                    <input matInput placeholder="Last Update Date" formControlName="changeBeginDate" readonly>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field>
                    <input matInput placeholder="Updated By" formControlName="updatedBy" readonly>
                </mat-form-field>

            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-6">


                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Account  Number" formControlName="account">
                    </mat-form-field>
                    <mat-error *ngIf="f.Account?.hasError('required')&& (f.Account.dirty || f.Account.touched)">
                        <strong>Account Number!</strong> Required
                    </mat-error>

                </div>

                <div class="col-1">
                    <button mat-raised-button color="primary" (click)="getAccountByAccountNumber()">Get Info</button>

                </div>
            </div>
            <div>
                <div class="col-6">


                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Institution Name" formControlName="institutionName">
                    </mat-form-field>
                    <mat-error
                        *ngIf="f.institutionName?.hasError('required')&& (f.institutionName.dirty || f.institutionName.touched)">
                        <strong>institutionName!</strong> Required
                    </mat-error>
                </div>
                <div class="col-6">

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Swift" formControlName="swift">
                        </mat-form-field>
                    </div>
            </div>
        </div>
        <div class="row">
          
            
        </div>
        <div class="row">
            <div class="col-6">
                <!-- <mat-form-field class="example-full-width">
                    <mat-select placeholder="Non Bank Institution" formControlName="nonBankInstitution">
                        <mat-option *ngFor="let cv of [true,false]" [value]="cv">
                            {{cv}}
                        </mat-option>

                    </mat-select> -->
                    <mat-checkbox   formControlName="nonBankInstitution" (change)="checkboxChange($event.source, $event.checked)">Non Bank Institution</mat-checkbox>

                    <mat-error *ngIf="f.nonBankInstitution?.hasError('required')&& 
            (f.nonBankInstitution.dirty || f.nonBankInstitution.touched)">
                        <strong>NonBanking Institution!</strong> Required
                    </mat-error>
                <!-- </mat-form-field> -->

            </div>

            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Branch" formControlName="branch">
                </mat-form-field>
                <mat-error *ngIf="f.nonBankInstitution?.hasError('required')&& 
                (f.nonBankInstitution.dirty || f.nonBankInstitution.touched)">
                    <strong>Branch!</strong> Required
                </mat-error>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!--  -->
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Currency Code" formControlName="currencyCode">
                        <mat-option *ngFor="let cv of Currency_values" [value]="cv.key">
                            {{cv.value}}
                        </mat-option>

                    </mat-select>
                    <mat-error *ngIf="f.currencyCode?.hasError('required')&& 
                    (f.currencyCode.dirty || f.currencyCode.touched)">
                        <strong>currencyCode!</strong> Required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-6">


                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account Name" formControlName="accountName">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="IBAN" formControlName="iban">
                </mat-form-field>
            </div>
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client number" formControlName="clientNumber">
                </mat-form-field>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Personal AccountType" formControlName="personalAccountType">
                        <mat-option *ngFor="let av of acctype_values" [value]="av.key">
                            {{av.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.personalAccountType?.hasError('required')&& 
                    (f.personalAccountType.dirty || f.personalAccountType.touched)">
                        <strong>personal account type!</strong> Required
                    </mat-error>

                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input type="date" matInput placeholder="Account Open Date" formControlName="opened">
                </mat-form-field>
                <mat-error *ngIf="f.opened?.hasError('required')&& 
                (f.opened.dirty || f.opened.touched)">
                    <strong>Open Date!</strong> Required
                </mat-error>
            </div>

            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input type="date" matInput placeholder="Account Close Date" formControlName="closed">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input type="number" min="0" matInput placeholder="Balance" formControlName="balance">
                </mat-form-field>
                <mat-error *ngIf="f.balance?.hasError('required')&& 
                (f.balance.dirty || f.balance.touched)">
                    <strong>balance!</strong> Required
                </mat-error>
            </div>

            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input type="date" matInput formControlName="dateBalance" placeholder="Date Of Balance">
                </mat-form-field>
                <mat-error *ngIf="f.dateBalance?.hasError('required')&& 
                (f.dateBalance.dirty || f.dateBalance.touched)">
                    <strong>Date balance!</strong> Required
                </mat-error>
            </div>
        </div>

        <div class="row">
            <div class="col-6">


                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Status Code" formControlName="statusCode">
                        <mat-option *ngFor="let cur of accstatus_values" [value]="cur.key">
                            {{cur.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.statusCode?.hasError('required')&& 
                    (f.statusCode.dirty || f.statusCode.touched)">
                        <strong>Status code!</strong> Required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Beneficiary" id="beneficiary" formControlName="beneficiary">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Beneficiary comment" id="beneficiaryComment"
                        formControlName="beneficiaryComment">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment" formControlName="comments"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                    <mat-checkbox  [checked]="addEntityDetail" (change)="changeEntityDetail($event.source, $event.checked)"  #isclosed>Add Entity Detail</mat-checkbox>

                <!-- <mat-form-field class="example-full-width">

                    <mat-select [(value)]="addEntityDetail" (selectionChange)="changeEntityDetail()"
                        placeholder="Add Entity Detail?">
                        <mat-option *ngFor="let c of [true,false]" [value]="c">{{c}}</mat-option>

                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div style="border:1px solid black">
            <app-entity-page *ngIf="addEntityDetail" [entityForm]="entityFormControl" [(accountNumber)]="accountNumber"
                (changeEntity)="changeAccountEntity($event)" [entityType]="_getEntityAccountType">
            </app-entity-page>


        </div>
    </div>




    <div class="signatories">
        <mat-card>

            <mat-card-header>

                <mat-card-title>
                    <p class="accountSignatories">Account Signatories</p>
                </mat-card-title>

            </mat-card-header>
            <table class="table table-striped" [formGroup]="accountForm">
                <thead>
                    <tr>
                        <th> Role</th>
                        <th> Is primary</th>
                        <th>Party Number</th>
                        <th>Edit</th>
                        <th>Delete</th>


                    </tr>
                </thead>

                <tbody formArrayName="signatory" *ngFor="let item of signatoriesControl.controls; let i = index;">

                    <tr [formGroupName]="i">
                        <td>{{item.get('role').value}}</td>
                        <td>
                            {{item.get('isPrimary').value}}
                        </td>
                        <td>
                            {{item.get('tPerson.partyNumber').value}}
                        </td>
                        <td>
                            <ng-container *ngIf="viewSignatoryAction">

                                <button mat-icon-button  (click)="editSignatory(i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container  *ngIf="deleteSignatoryAction">
                                <button mat-icon-button (click)="deleteSignatory(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>

            </table>
            <mat-card-actions>

                <button color="primary"  mat-raised-button (click)="openSignatoryDialog()">Add Signatory</button>
            </mat-card-actions>

        </mat-card>
    </div>





        <div>
            <!-- *ngIf="cascadeAccountAction"   -->
            <button  color="primary" mat-raised-button matTooltip="Update Transaction Into Source" (click)="saveAccount()" >Cascad Update</button>
        </div>


    <ng-content></ng-content>

</div>