<mat-accordion>



  <mat-expansion-panel [expanded]="identifications.length>0">
    <mat-expansion-panel-header>
      <mat-panel-title>Identifications</mat-panel-title>
      <mat-panel-description>Add Id</mat-panel-description>
    </mat-expansion-panel-header>
    <div style="padding-left: 26px;" [formGroup]="inputId">
      <mat-form-field>
        <mat-select style="margin-bottom: -0.5%;" placeholder="Identification Type"  type="text"
          id="newAttributeIdtype" formControlName="type">
          <mat-option *ngFor="let iv of identifier_values" [value]="iv.key">
            {{iv.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="inputId.controls.type?.hasError('required')
      && (inputId.controls.type.dirty || inputId.controls.type.touched)">
          <strong>ID Type</strong> Required !!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ID number"  type="number" min="0" id="newAttributeIdnum"
          formControlName="number">
        <mat-error *ngIf="inputId.controls.number?.hasError('required')
         && (inputId.controls.number.dirty || inputId.controls.number.touched)">
          <strong>ID number</strong> Required !!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Issue Date"  type="date" id="newAttributeIsdt"
          formControlName="issueDate" max="{{myDate | date:'yyyy-MM-dd'}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Expiry Date"  type="date" id="newAttributeExdt"
          formControlName="expiryDate">
        <mat-error *ngIf="inputId.controls.expiryDate?.hasError('required')
         && (inputId.controls.expiryDate.dirty || inputId.controls.expiryDate.touched)">
          <strong>Expiry date</strong> Required !!
        </mat-error>


      </mat-form-field>
      <mat-form-field>
        <mat-select style="margin-bottom: -0.5%;" placeholder="Issue Country"  type="text"
          formControlName="issueCountry">
          <mat-option *ngFor="let cv of country_values" [value]="cv.key">
            {{cv.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="inputId.controls.issueCountry?.hasError('required')
      && (inputId.controls.issueCountry.dirty || inputId.controls.issueCountry.touched)">
          <strong>Issue country</strong> Required !!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea style="margin-bottom: -4.25%;" matInput placeholder="Comment" 
          id="newAttributecomment" formControlName="comments"> ></textarea>
      </mat-form-field>
      <!-- <button mat-button color="primary" (click)="addFieldValue()">Add</button> -->
      <button mat-raised-button color="primary" type="button" (click)="addFieldValue()">Add</button>
    </div>
    <table class="table table-striped table-bordered" [formGroup]="IdFormGroup">
      <thead>
        <tr>
          <th>Identification Type</th>
          <th>ID number</th>
          <th>Issue date</th>
          <th>Expiry date</th>
          <th>Issue country</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody formArrayName="identification" *ngFor="let item of identifications.controls; let i = index;">
        <tr [formArrayName]="i">
          <td>
            <mat-select style="margin-bottom: -0.5%;" placeholder="Identification Type" type="text"
              formControlName="type">
              <mat-option *ngFor="let iv of identifier_values" [value]="iv.key">
                {{iv.key}}
              </mat-option>
            </mat-select>
            <!-- <input formControlName="type"  type="text" /> -->
            <mat-error *ngIf="item.controls.type?.hasError('required')
            && (item.controls.type.dirty || item.controls.type.touched)">
              <strong>ID Type</strong> Required !!
            </mat-error>
          </td>
          <td>
            <input formControlName="number"  type="text" />
            <mat-error *ngIf="item.controls.number?.hasError('required')
            && (item.controls.number.dirty || item.controls.number.touched)">
              <strong>ID number</strong> Required !!
            </mat-error>
          </td>
          <td>
            <input formControlName="issueDate"  type="date" />
            <mat-error *ngIf="item.controls.issueDate?.hasError('required')
      && (item.controls.issueDate.dirty || item.controls.issueDate.touched)">
              <strong>Issue country</strong> Required !!
            </mat-error>
          </td>
          <td>
            <input formControlName="expiryDate"  type="date" />
            <mat-error *ngIf="item.controls.expiryDate?.hasError('required')
            && (item.controls.expiryDate.dirty || item.controls.expiryDate.touched)">
              <strong>Expiry date</strong> Required !!
            </mat-error>
          </td>
          <td>
            <mat-select style="margin-bottom: -0.5%;" placeholder="Issue Country" type="text"
              formControlName="issueCountry">
              <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                {{cv.key}}
              </mat-option>
            </mat-select>
            <!-- <input formControlName="issueCountry"  type="text" /> -->
            <mat-error *ngIf="item.controls.issueCountry?.hasError('required')
            && (item.controls.issueCountry.dirty || item.controls.issueCountry.touched)">
              <strong>Issue country</strong> Required !!
            </mat-error>
          </td>
          <td>
            <input formControlName="comments"  type="text" />
          </td>
          <td (click)="deleteFieldValue(i)">
            <button color="warn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <!-- <button mat-button color="accent" class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button> -->
          </td>
        </tr>

      </tbody>
    </table>

  </mat-expansion-panel>
</mat-accordion>