<!-- {{CascadeTrans?.value | json}} -->
<!-- {{transactionControl?.value | json}} -->

<mat-card class="example-card row">
  <mat-card-header>
    <mat-card-title>Cascade Transactions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <label class="col-lg-4" style="margin-top: 15px">Cascade Update Type</label>
      <mat-form-field>
        <mat-select [(value)]="Cascad_type">
          <mat-option value="None">None</mat-option>
          <mat-option value="From">From </mat-option>
          <mat-option value="To">To</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <!-- added by abdelrahman to apply cib comment -->
  
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="mat-elevation-z8">
      
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- selection Column -->
      <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"> 
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container> -->

            <!-- transactionnumber Column -->
            <ng-container matColumnDef="Trn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction number</th>
              <td mat-cell *matCellDef="let row"> {{row.transactionnumber}} </td>
            </ng-container>

            <!-- dateTransaction Column -->
            <ng-container matColumnDef="TDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</th>
              <td mat-cell *matCellDef="let row"> {{row.dateTransaction}} </td>
            </ng-container>

            <!-- amountLocal Column -->
            <ng-container matColumnDef="TAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Amount</th>
              <td mat-cell *matCellDef="let row"> {{row.amountLocal}} </td>
            </ng-container>

            <!-- TType  Column -->
            <ng-container matColumnDef="TTypeFrom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction From Type </th>
              <td mat-cell *matCellDef="let row"> {{row.TTypeFrom}} </td>
            </ng-container>
            <!-- F ACC Number Column -->
            <ng-container matColumnDef="FPNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>From Party Number</th>
              <td mat-cell *matCellDef="let row"> {{row.FPNumber}} </td>
            </ng-container>

            <!-- FACCName Column -->
            <ng-container matColumnDef="FPName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>From Party Name</th>
              <td mat-cell *matCellDef="let row"> {{row.FPName}} </td>
            </ng-container>

            <!-- From ACC Number Column -->
            <ng-container matColumnDef="FromACCNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>From ACC Number</th>
              <td mat-cell *matCellDef="let row"> {{row.FromACCNumber}} </td>
            </ng-container>

            <!-- TType To  Column to my client or to other client Account or person or entity-->
            <ng-container matColumnDef="TTypeTo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction To Type </th>
              <td mat-cell *matCellDef="let row">{{row.TTypeTo}}</td>
            </ng-container>

            <!-- TPNumber Column -->
            <ng-container matColumnDef="ToPNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To Party Number</th>
              <td mat-cell *matCellDef="let row"> {{row.ToPNumber}} </td>
            </ng-container>

            <!-- ToPName Column -->
            <ng-container matColumnDef="ToPName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To Party Name</th>
              <td mat-cell *matCellDef="let row"> {{row.ToPName}} </td>
            </ng-container>

            <!-- TO ACC Number Column -->
            <ng-container matColumnDef="ToACCNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To ACC Number</th>
              <td mat-cell *matCellDef="let row"> {{row.ToACCNumber}} </td>
            </ng-container>

            <!-- FReviewd Column -->
            <ng-container matColumnDef="FReviewd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>From Reviewd</th>
              <td mat-cell *matCellDef="let row"> {{row.FReviewd}} </td>
            </ng-container>

            <!-- TReviewd Column -->
            <ng-container matColumnDef="TReviewd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To Reviewd</th>
              <td mat-cell *matCellDef="let row"> {{row.TReviewd}} </td>
            </ng-container>

            <!-- Validation Column -->
            <ng-container matColumnDef="Validation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Validation</th>
              <td mat-cell *matCellDef="let row"> {{row.Validation}} </td>
            </ng-container>

            <!-- Validation_Messages Column -->
            <ng-container matColumnDef="Validation_Messages">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Validation_Messages</th>
              <td mat-cell *matCellDef="let row"> {{row.Validation_Messages}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row ; let index = index">
                <!-- <button mat-icon-button (click)="btnclick()"><mat-icon>launch</mat-icon></button> -->
                <button mat-icon-button color="warn" (click)="deleteFieldValue(index)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
          </table>
      
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
 
  </mat-card-content>

  <div class="col-lg-12">
    <div style="border:1px solid white">
      <app-from-transaction *ngIf="Cascad_type=='From'" [cascade]="cascadeF" [transactionControl]="TransactionControl"
        (emitFromToCascade)="acceptFromComponent($event)" [cascadeMe]="cascadeMe">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-from-transaction>
      <app-to-transaction *ngIf="Cascad_type=='To'" [cascade]="cascadeF" [transactionControl]="TransactionControl"
        (emitToToCascade)="acceptToComponent($event)" [cascadeMe]="cascadeMe">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-to-transaction>
      <app-person-page *ngIf="Cascad_type=='AddFromSignatory'" [personForm]="personFormControl">
        <button mat-raised-button color="primary" (click)="save(personFormControl.value)">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-person-page>
      <app-person-page *ngIf="Cascad_type=='AddFromDirector'" [personForm]="personFormControl">
        <button mat-raised-button color="primary" (click)="save(personFormControl.value)">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-person-page>
      <app-person-page *ngIf="Cascad_type=='AddToSignatory'" [personForm]="personFormControl">
        <button mat-raised-button color="primary" (click)="save(personFormControl.value)">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-person-page>
      <app-person-page *ngIf="Cascad_type=='AddToDirector'" [personForm]="personFormControl">
        <button mat-raised-button color="primary" (click)="save(personFormControl.value)">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
      </app-person-page>
      <Div *ngIf="Cascad_type=='DeleteFromSignatory'">
        <label class="col-lg-4">Signatory number</label>
        <input class="col-lg-4" placeholder="Signatory Number">
        <button class="col-lg-4">Delete</button>
      </Div>
      <Div *ngIf="Cascad_type=='DeleteFromDirector'">
        <label class="col-lg-4">Director number</label>
        <input class="col-lg-4" placeholder="Director Number">
        <button class="col-lg-4">Delete</button>
      </Div>
      <Div *ngIf="Cascad_type=='DeleteToSignatory'">
        <label class="col-lg-4">Signatory number</label>
        <input class="col-lg-4" placeholder="Signatory Number">
        <button class="col-lg-4">Delete</button>
      </Div>
      <Div *ngIf="Cascad_type=='DeleteToDirector'">
        <label class="col-lg-4">Director number</label>
        <input class="col-lg-4" placeholder="Director Number">
        <button class="col-lg-4">Delete</button>
      </Div>
    </div>
  </div>
</mat-card>