<h1>Numbers Game:</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <button (click)="startGame()" class="btn btn-primary" style="width: 50%;">Start</button>
            <button (click)="stopGame()" class="btn btn-danger" style="width: 50%;">Stop</button>
        </div>
        <div class="col-xs-6">
            Timer:{{timer}}
        </div>
    </div>
</div>