<app-loader></app-loader>
<mat-accordion>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header *ngIf="!conductor">
      Add Person Basic info

    </mat-expansion-panel-header>
    <mat-expansion-panel-header *ngIf="conductor">
        Add Conductor Basic info
  
      </mat-expansion-panel-header>
    <form [formGroup]="personForm">
      <div *ngIf="isReportingPerson;else notReportingPerson">
      </div>

      <ng-template #notReportingPerson>
        <div class="row" *ngIf="!isReportingPerson">
          <div class="col-2">
            <mat-checkbox class="example-margin" formControlName="isReviewed">Reviewed</mat-checkbox>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="Last Update Date" formControlName="changeBeginDate" readonly>
            </mat-form-field>
          </div>

          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="Updated By" formControlName="updatedBy" readonly>
            </mat-form-field>
          </div>
        </div>
      </ng-template>
      <ng-content select="[header]" *ngIf="isReportingPerson"></ng-content>

      <div class="row" *ngIf="isDirector">
        <div class="col-6">
          <mat-form-field>
            <mat-select placeholder="Role" formControlName="role">
              <mat-option *ngFor="let G of entity_person_role_type" [value]="G.key">
                {{G.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!isSignatory && !isDirector && !isReportingPerson">
        <div class="row">

          <div class="col-6">

            <mat-form-field class="example-full-width" placeholder="Search By">
              <mat-select placeholder="Serach By" [(value)]="filterBy">
                <mat-option *ngFor="let g of SearchBy" [value]="g">
                  {{g}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="filterBy=='PartyNumber'">
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Party Number" formControlName="partyNumber">
            </mat-form-field>
          </div>

          <div class="col-1">
            <button mat-raised-button color="primary" (click)="getPersonInfo()">Get Info</button>

          </div>
        </div>
        <div class="row" *ngIf="filterBy=='CustomerSSN'">
          <div class="col-6">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Customer SSN" #SSN>
            </mat-form-field>
          </div>
          <div class="col-1">
            <button mat-raised-button color="primary" (click)="getPersonInfoBySSN(SSN)">Get Info</button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isSignatory || isDirector ">
        <div class="col-6">


          <mat-form-field class="example-full-width">
            <input matInput placeholder={{CustomerNumberPlaceHolder}} formControlName="partyNumber">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let gv of gender_values" [value]="gv.key">
                {{gv.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.gender?.hasError('required')&& (f.gender.dirty || f.gender.touched)">
              <strong>Gender</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>



        <div class="col-6">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Title" formControlName="title" id="title">
          </mat-form-field>
        </div>




        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" id="firstName" formControlName="firstName">
          </mat-form-field>
          <!--  -->

          <mat-error *ngIf="f.firstName?.hasError('required')&& (f.firstName.dirty || f.firstName.touched)">
            <strong>First Name!</strong> Required
          </mat-error>
        </div>


        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Middle Name" id="middleName" formControlName="middleName">
          </mat-form-field>
        </div>


        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Prefix" id="prefix" formControlName="prefix">
          </mat-form-field>
        </div>

        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" id="lastName" formControlName="lastName">
          </mat-form-field>
          <mat-error *ngIf="f.lastName?.hasError('required')&& (f.lastName.dirty || f.lastName.touched)">
            <strong>Last Name!</strong> Required
          </mat-error>
        </div>

        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="Birth Date" id="birthdate" formControlName="birthdate"
              max="{{myDate | date:'yyyy-MM-dd'}}">
          </mat-form-field>

          <mat-error *ngIf="f.birthdate?.hasError('required')&& (f.birthdate.dirty || f.birthdate.touched)">
            <strong>Birth date!</strong> Required
          </mat-error>
          <mat-error *ngIf="(f.birthdate.dirty || f.birthdate.touched) && f.birthdate?.errors">
            Enter Valid Date
          </mat-error>
        </div>

        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Birth Place" id="birthPlace" formControlName="birthPlace">
          </mat-form-field>
        </div>



        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mothers Name" id="mothersName" formControlName="mothersName">
          </mat-form-field>
        </div>

        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Alias" id="alias" formControlName="alias">
          </mat-form-field>

        </div>

        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="SSN" id="ssn" formControlName="ssn">
          </mat-form-field>
          <mat-error *ngIf="f.ssn?.hasError('required')&& (f.ssn.dirty || f.ssn.touched)">
            <strong>ssn!</strong> Required
          </mat-error>
        </div>

        <div class="col-6">


          <mat-form-field class="example-full-width">
            <input matInput placeholder="Passport Number" id="passportNumber" formControlName="passportNumber"
              (change)="changePassportNumber()">
          </mat-form-field>
          <mat-error *ngIf="f.passportNumber?.hasError('required')&& 
          (f.passportNumber.dirty || f.passportNumber.touched)">
            <strong>Passport Number!</strong> Required
          </mat-error>
        </div>

        <div class="col-6">

          <mat-form-field>
            <mat-select placeholder="Passport  Country" formControlName="passportCountry">
              <mat-option *ngFor="let topping of country_values" [value]="topping.key">{{topping.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-error *ngIf="f.passportCountry?.hasError('required')&& 
          (f.passportCountry.dirty || f.passportCountry.touched)">
            <strong>Passport Country!</strong> Required
          </mat-error>

        </div>

      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-select placeholder="Nationality1" formControlName="nationality1">
              <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                {{cv.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.nationality1?.hasError('required')&& (f.nationality1.dirty || f.nationality1.touched)">
              <strong>nationality 1!</strong> Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-select placeholder="Nationality2" formControlName="nationality2">
              <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                {{cv.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-select placeholder="Nationality3" formControlName="nationality3">
              <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                {{cv.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
     
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Residence" formControlName="residence">
              <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                {{cv.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="f.residence?.hasError('required')&& (f.residence.dirty || f.residence.touched)">
            <strong>residence</strong> Required !!
          </mat-error>
        </div>


        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Occupation" id="occupation" formControlName="occupation">
          </mat-form-field>
          <mat-error *ngIf="f.occupation?.hasError('required')&& (f.occupation.dirty || f.occupation.touched)">
            <strong>occupation</strong> Required !!
          </mat-error>
        </div>


        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Employer Name" id="employerName" formControlName="employerName">
          </mat-form-field>
        </div>
 
        <div class="col-6">
          <!-- <mat-form-field class="example-full-width">
            <mat-select placeholder="Deceased" #deceased formControlName="deceased">
              <mat-option [value]=true>True</mat-option>
              <mat-option [value]=null>False</mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-checkbox   formControlName="deceased" (change)="checkboxChange($event.source, $event.checked)"  #deceased>Deceased</mat-checkbox>

        </div>

        <div class="col-6" *ngIf="personForm.get('deceased').value">

          <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="Date Deceased" id="date_deceased" formControlName="dateDeceased">
          </mat-form-field>
        </div>

        <div class="col-6">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tax Number" id="taxNumber" formControlName="taxNumber">
          </mat-form-field>
        </div>


        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tax Reg Number" id="taxRegNumber" formControlName="taxRegNumber">
          </mat-form-field>

        </div>


        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Source of wealth" id="sourceOfWealth" formControlName="sourceOfWealth">
          </mat-form-field>

        </div>

        <div class="col-6">


          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment" formControlName="comments"></textarea>
          </mat-form-field>

        </div>
      </div>

    </form>


  </mat-expansion-panel>




</mat-accordion>
<br>
<app-ids [(IdFormGroup)]="personForm"></app-ids>
<br>
<app-email [(EmailFormGroup)]="personForm"></app-email>
<br>
<app-phones [(PhonesArray)]="phones"></app-phones>
<br>
<app-addresses [(addressFormGroup)]="addressesControl"></app-addresses>
<br>
<div>
  <button mat-raised-button color="primary" matTooltip="Update Transaction Into Source"
    *ngIf="!isSignatory && !isDirector &&cascadePersonAction && !isReportingPerson" (click)="savePerson()">Cascade
    Update</button>
</div>
<ng-content></ng-content>