<!-- {{oldcontrol?.value | json}} -->
<hr>


<div [(formGroup)]="t_fromControl">
  <!-- <div class="custom-control custom-checkbox col-10">
    <input type="checkbox" class="custom-control-input" id="defaultChecked2" unchecked>
    <label class="custom-control-label" for="defaultChecked2" style="PADDING-BOTTOM:10PX;font-size: 18px;
              font-style: italic;color: darkmagenta;">Reviewed</label>
  </div> -->

  <div class="row">
    <div class="col-sm-4" *ngIf="!cascade">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="From Fund Code" formControlName="fromFundsCode">
          <mat-option *ngFor="let type of fundCodes" [value]="type.key">
            {{type.value}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="t_fromControl?.controls?.fromFundsCode?.hasError('required')&& 
        (t_fromControl?.controls?.fromFundsCode.dirty || t_fromControl?.controls?.fromFundsCode.touched)">
          <strong>fromFundsCode </strong> Required !!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4" *ngIf="!cascade">

      <mat-form-field class="example-full-width">

        <input matInput placeholder="From Fund Comment" formControlName="fromFundsComment">
      </mat-form-field>
    </div>
    <div class="col-sm-4">

      <mat-form-field class="example-full-width" *ngIf="!cascade">
        <mat-select formControlName="fromCountry" autofilled="true" placeholder="From Country">
          <mat-option *ngFor="let type of country_values" [value]="type.key">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- fromForeignCurrency -- formGroup -->
  <div formGroupName="fromForeignCurrency" *ngIf="!cascade">
    <!-- 1- rom Currency Code -->
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="foreignCurrencyCode" placeholder="From currency Code"
            (selectionChange)="changeCurrencyCode()">
            <mat-option *ngFor="let type of currencyCodes" [value]="type.key">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- 2- From Currenny Amount -->
      <div class="col-sm-4"  *ngIf="!isEgyptianPound">

        <mat-form-field class="example-full-width">

          <input type="number" min="0" matInput placeholder="From currency Amount" formControlName="foreignAmount">
        </mat-form-field>
      </div>
      <!-- 3- From Currency Exchange Rate -->
      <div class="col-sm-4" *ngIf="!isEgyptianPound">
        <mat-form-field class="example-full-width">

          <input type="number" min="0" matInput placeholder="From currency Exchange Rate"
            formControlName="foreignExchangeRate">
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4" *ngIf="!cascade">
      <mat-form-field class="example-full-width">
        <mat-select [(value)]="Conductor_type" (selectionChange)="changeConductor()" placeholder="Add Conductor">
          <mat-option value="None">None</mat-option>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">

      <mat-form-field class="example-full-width">
        <mat-select [(value)]="From_type" (selectionChange)="changeFromType()" placeholder="From Type">
          <mat-option value="None">None</mat-option>
          <mat-option value="MyClientEntity">My Client Entity</mat-option>
          <mat-option value="MyClientPerson">My client Person</mat-option>
          <mat-option value="MyClientAccount">My Client Account</mat-option>
          <mat-option value="OtherClientEntity">Other Client Entity</mat-option>
          <mat-option value="OtherClientPerson">Other client Person</mat-option>
          <mat-option value="OtherClientAccount">Other Client Account</mat-option>

        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row" *ngIf="Conductor_type=='Yes'">
    <mat-card>
      <div style="border:1px solid #f8f9fa">
        <app-person-page [conductor]="conductor" [personForm]="tConductorControl">
        </app-person-page>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <mat-card style="width: -webkit-fill-available;">
    <div [ngSwitch]="From_type">

      <app-entity-page *ngSwitchCase="'MyClientEntity'" [(entityForm)]="entityFormControl" (saveEvent)="save($event)"
        (changeEntity)="changeFromControlFromSource($event,'myEntity')" [entityType]="true"></app-entity-page>


      
      <app-person-page *ngSwitchCase="'MyClientPerson'" [personForm]="personFormControl" (saveEvent)="save($event)"
        (changePerson)="changeFromControlFromSource($event,'myPerson')"></app-person-page>



      <app-account *ngSwitchCase="'MyClientAccount'" [accountForm]="accountFormControl" (saveEvent)="save($event)" [accountType]="'MyAccount'"
        (cancelEvent)="close()" (changeAccount)="changeFromControlFromSource($event,'myAccount')"></app-account>

      <app-entity-page *ngSwitchCase="'OtherClientEntity'" [(entityForm)]="entityFormControl_other" (saveEvent)="save($event)"
        (changeEntity)="changeFromControlFromSource($event,'otherEntity')"></app-entity-page>

      <app-person-page *ngSwitchCase="'OtherClientPerson'" [personForm]="personFormControl_other" (saveEvent)="save($event)"
        (changePerson)="changeFromControlFromSource($event,'otherPerson')"></app-person-page>


      <app-account *ngSwitchCase="'OtherClientAccount'" [accountForm]="accountFormControl_other" (saveEvent)="save($event)"
        (saveEvent)="save($event)" (cancelEvent)="close()"
        (changeAccount)="changeFromControlFromSource($event,'otherAccount')"></app-account>
    </div>
  </mat-card>
</div>

<div>
  <button class="btn btn-primary" *ngIf="cascadeMe=='cascade'" (click)="sendFromTocascade()"> Cascade Changes </button>
</div>