<!-- <div class="MessageBoxContainer animated fadeIn fast" id="Msg1"> -->
  <div class="MessageBoxMiddle">
    <span class="MsgTitle">
      <!-- <i class="fa fa-sign-out txt-color-orangeDark"></i>  -->
      Logout
      <span class="txt-color-orangeDark"><strong></strong></span> ?</span>
    <!-- <p class="pText">You can improve your security further after logging out by closing this opened browser</p> -->
    <div class="MessageBoxButtonSection"><button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" (click)="cancel()">
        No</button><button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" (click)="logout()"> Yes</button></div>
  </div>
<!-- </div> -->