/*! CSS Used from: https://smartadmin-angular-5.firebaseapp.com/assets/css/bootstrap.min.css ; media=screen */

@media screen {
	strong {
		font-weight: 700;
	}
	button {
		color: inherit;
		font: inherit;
		margin: 0;
	}
	button {
		overflow: visible;
	}
	button {
		text-transform: none;
	}
	button {
		-webkit-appearance: button;
		cursor: pointer;
	}
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	@media print {
		*,
		:after,
		:before {
			background: transparent!important;
			color: #000!important;
			box-shadow: none!important;
			text-shadow: none!important;
		}
		p {
			orphans: 3;
			widows: 3;
		}
	}
	*,
	:after,
	:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	button {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	p {
		margin: 0 0 9px;
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 13px;
		line-height: 1.42857143;
		border-radius: 2px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.btn:active:focus,
	.btn:focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	.btn:focus,
	.btn:hover {
		color: #333;
		text-decoration: none;
	}
	.btn:active {
		outline: 0;
		background-image: none;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}
	.btn-default {
		color: #333;
		background-color: #fff;
		border-color: #ccc;
	}
	.btn-default:focus {
		color: #333;
		background-color: #e6e6e6;
		border-color: #8c8c8c;
	}
	.btn-default:active,
	.btn-default:hover {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}
	.btn-default:active:focus,
	.btn-default:active:hover {
		color: #333;
		background-color: #d4d4d4;
		border-color: #8c8c8c;
	}
	.btn-default:active {
		background-image: none;
	}
	.btn-sm {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 2px;
	}
}



@media screen {
	.fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fa-sign-out:before {
		content: "\f08b";
	}
}



@media screen {
	.MessageBoxContainer {
		top: 35%;
		color: #fff;
		position: relative;
		width: 100%;
		background-color: #232323;
		background-color: rgba(0, 0, 0, .8);
		padding: 20px;
	}
	.MessageBoxMiddle {
		position: relative;
		left: 20%;
		width: 60%;
	}
	.MessageBoxMiddle .MsgTitle {
		letter-spacing: -1px;
		font-size: 24px;
		font-weight: 300;
	}
	.MessageBoxMiddle .pText {
		font-size: 13px;
	}
	.MessageBoxButtonSection {
		width: 100%;
		height: 30px;
	}
	.MessageBoxButtonSection button {
		float: right;
		margin-right: 7px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 14px;
		font-weight: 700;
	}
	@media screen and (max-width:450px) and (max-width:767px) {
		.MessageBoxContainer {
			top: 25%;
			color: #fff;
			position: relative;
			width: 100%;
			background-color: #232323;
		}
		.MessageBoxMiddle {
			position: relative;
			left: 0;
			width: 100%;
			padding: 3px;
		}
		.MessageBoxMiddle .MsgTitle {
			font-size: 22px;
		}
		.MessageBoxMiddle .pText {
			font-size: 13px;
		}
		.MessageBoxButtonSection {
			width: 100%;
			height: 30px;
		}
		.MessageBoxButtonSection button {
			float: right;
			margin-right: 5px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.animated {
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.animated.fast {
		-webkit-animation-duration: .4s;
		-moz-animation-duration: .4s;
		-ms-animation-duration: .4s;
		-o-animation-duration: .4s;
		animation-duration: .4s;
	}
}



@media screen {
	.animated {
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.animated.fast {
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		-o-animation-duration: .5s;
		animation-duration: .5s;
	}
	.animated.fadeIn {
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-o-animation-name: fadeIn;
		animation-name: fadeIn;
	}
	button,
	button:active,
	button:focus {
		outline: 0;
	}
	 :focus {
		outline: 0!important;
	}
	button {
		-ms-touch-action: none!important;
	}
	.btn-sm {
		padding: 6px 10px 5px;
	}
	.btn,
	button {
		-webkit-tap-highlight-color: rgba(169, 3, 41, .5);
	}
	.btn {
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
		-moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
		-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
	}
	.btn:active {
		position: relative;
		top: 1px;
		left: 1px;
	}
	.txt-color-orangeDark {
		color: #a57225!important;
	}
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*! CSS Used fontfaces */