
<!-- {{CrNewReportForm.value | json}} -->
<app-loader></app-loader>
<mat-card class="example-card">
        <div [formGroup]="CrNewReportForm">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 20px">Create New Report</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <hr />
    <mat-card-content>
<div >
<div class="row">
    <div class="col-lg-4"><label style="font-size: 20px; margin-right: 20px">Category</label></div>
    <div class="col-lg-4">
        <mat-form-field>
            <mat-select  placeholder="Category" [(value)]="report_Category" formControlName="reportCategory">
                <mat-option *ngFor="let cat of categories" [value]="cat.value">
                    {{cat.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-4"><label style="font-size: 20px; margin-right: 20px">Priority</label></div>
    <div class="col-lg-4"><mat-form-field>
        <mat-select placeholder="Priority"   formControlName="Priority">
            <mat-option *ngFor="let pri of priorities" [value]="pri">
                {{pri}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
</div>
<br>
<!-- <div class="row">
    <div class="col-lg-4"><label style="font-size: 20px; margin-right: 20px">Owner</label></div>
    <div class="col-lg-4"><mat-form-field>
        <mat-select  placeholder="Owner" formControlName="Owner"> 
            <mat-option *ngFor="let owner of owners" [value]="owner.ownerType">
                {{owner.ownerType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
</div> -->
<br>


</div>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onCreateClick()">Create</button>
</mat-card-actions>
        </div>
</mat-card>

