.window{
    text-align: center
}

.example-card {
  max-width: 100%;
}

.create{
    font-family: fantasy;
    font-style: oblique;
    font-size: x-large;
}

.btn{
    color: blue;
    background-color:aqua; 
    padding-right: 10px
}
