<app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>
<div style="padding: 12px" [(formGroup)]="reportDetailControl">
   <div class="row">
      <!-- <div class="col-6">


         <mat-form-field class="example-full-width">
            <input matInput placeholder="Reporting Entity ID" formControlName="rentityId">
         </mat-form-field>
         <mat-error
            *ngIf="Report.rentityId?.hasError('required')&& (Report.rentityId.dirty || Report.rentityId.touched)">
            <strong>Reporting Entity ID</strong> Required !!
         </mat-error>
      </div> -->
      <!--  -->
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Entity Branch" formControlName="rentityBranch"></textarea>
         </mat-form-field>
      </div>
      <!--  -->
   </div>
   <div class="row">
      <!-- <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Current Status</label></div>
         <div class="col-sm-4">
           <mat-form-field class="example-full-width">
             <mat-select placeholder="Status">
               <mat-option *ngFor="let cat of categories" [value]="cat.value">
                 {{cat.viewValue}}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </div> -->
      <!-- <div class="col-6">
         <mat-form-field class="example-full-width">
            <input type="text" matInput   formControlName="lastUpdate" readonly>
         </mat-form-field>
      </div> -->
   </div>
   <div class="row">
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <mat-select placeholder="Submission Code" formControlName="submissionCode">
               <mat-option *ngFor="let cv of submission_values" [value]="cv.key">
                  {{cv.value}}
               </mat-option>
            </mat-select>
            <mat-error *ngIf="Report.submissionCode?.hasError('required')&& 
               (Report.submissionCode.dirty || Report.submissionCode.touched)">
               <strong>Submission Code</strong> Required !!
            </mat-error>
         </mat-form-field>
      </div>
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <mat-select placeholder="Report Type " formControlName="reportCode">
               <mat-option *ngFor="let rv of report_values" [value]="rv.key">
                  {{rv.value}}
               </mat-option>
            </mat-select>
            <mat-error *ngIf="Report.reportCode?.hasError('required')&& 
               (Report.reportCode.dirty || Report.reportCode.touched)">
               <strong>Report Type</strong> Required !!
            </mat-error>
         </mat-form-field>

      </div>
   </div>
   <div class="row">
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Report Reference" formControlName="entityReference">
         </mat-form-field>
         <mat-error *ngIf="Report.entityReference?.hasError('required')&& 
            (Report.entityReference.dirty || Report.entityReference.touched)">
            <strong>Report Reference</strong> Required !!
         </mat-error>
      </div>
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <mat-select placeholder="Reporting Person" formControlName="reportingPersonType">
               <mat-option value="AML Head">AML Head</mat-option>
               <mat-option value="chief compliance officer">chief compliance officer</mat-option>
            </mat-select>
         </mat-form-field>
         <mat-error *ngIf="Report.reportingPersonType?.hasError('required')&& 
         (Report.reportingPersonType.dirty || Report.reportingPersonType.touched)">
            <strong>Reporting Person </strong> Required !!
         </mat-error>
      </div>
   </div>
   <div class="row">
      <div class="col-6">
         <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="Submission Date" formControlName="submissionDate">
         </mat-form-field>
         <mat-error *ngIf="Report.submissionDate?.hasError('required')&& 
         (Report.submissionDate.dirty || Report.submissionDate.touched)">
            <strong>Submission Date </strong> Required !!
         </mat-error>
      </div>
      <div class="col-6">


         <mat-form-field class="example-full-width">
            <mat-select placeholder="Currency Code Local" formControlName="currencyCodeLocal">
               <mat-option *ngFor="let cv of Currency_values" [value]="cv.key">
                  {{cv.value}}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-error *ngIf="Report.currencyCodeLocal?.hasError('required')&& 
         (Report.currencyCodeLocal.dirty || Report.currencyCodeLocal.touched)">
            <strong>Currency Code Local</strong> Required !!
         </mat-error>
      </div>
   </div>

   <div class="row">

      <div class="col-6">
         <mat-form-field class="example-full-width" *ngIf="showFiu">
            <input matInput placeholder=" Fiu Ref Number" formControlName="fiuRefNumber">
            <mat-error *ngIf="Report.fiuRefNumber?.hasError('required')&& 
            (Report.fiuRefNumber.dirty || Report.fiuRefNumber.touched)">
               <strong>FIU </strong> Required !!
            </mat-error>
         </mat-form-field>
      </div>

   </div>

   <div class="row">
      <div class="col-12">
         <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
            <mat-error *ngIf="Report.reason?.hasError('required')&& 
            (Report.reason.dirty || Report.reason.touched)">
               <strong>Reason </strong> Required !!
            </mat-error>
         </mat-form-field>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Action" formControlName="action"></textarea>
            <mat-error *ngIf="Report.action?.hasError('required')&& 
            (Report.action.dirty || Report.action.touched)">
               <strong>Action </strong> Required !!
            </mat-error>
         </mat-form-field>
      </div>
   </div>
   <!-- <div class="row">
      <div class="col-4">
   
         <button mat-raised-button color="primary" (click)="validate()">Validate</button>
      </div>
   </div> -->
</div>