
<!-- <h1>Hello World</h1> -->
<!-- Assignment 1 -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-warning-alert></app-warning-alert>
        </div>
        <div class="col-md-6">
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div> -->

<!-- Assignment 2-->
<!-- <div class="container">
    <div class="row">
        <div>
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" />
            <p> {{username}}</p>
            <button type="button" class="btn btn-primary" [disabled]="checkUserNameEmpty()"
                (click)="setUserNameToEmpty()">reset Username!</button> 
        </div>
    </div>
     
</div> -->

<!-- Assignment 3 -->

<!-- <button type="button" class="btn btn-primary" (click)="toggleDetails()">Display Details.</button>
<p *ngIf="displayDetails">This is top secret message!</p>
<div>clicks Recorder</div>
<ul>
    <li *ngFor="let item of clicksRecorder; let i = index;" [ngClass]="{whiteText: i >=4 }"
        [ngStyle]="{backgroundColor: colorBackGroundOn5th(i)}"  > {{item}}</li>
</ul> -->

<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>
