<app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>
<app-loader></app-loader>

<div class="row">
  

        <app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>
        
        <div class="row">
            <div class="col-6">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Party Number" [(ngModel)]="partyNumber">
                </mat-form-field>
            </div>
            <div class="col-6">
                <!-- <button type="button" mat-button-raised class="getInfoButton" (click)="searchSignatoryByPartyNumber()">Get Signatory Info
                </button> -->
                <button mat-raised-button color="primary" class="getInfoButton" (click)="searchSignatoryByPartyNumber()" >Get Signatory Info</button>

            </div>
        </div>
        
        <div [formGroup]="signatoryFormControl">
            <div class="col-12">
                <!-- <mat-form-field> -->
                    <!-- <mat-select placeholder="Is Primary" formControlName="isPrimary">
                        <mat-option *ngFor="let G of options" [value]="G.value">
                            {{G.key}}
                        </mat-option>
                    </mat-select> -->
                    <mat-checkbox  placeholder="Is Primary" formControlName="isPrimary" (change)="checkboxChange($event.source, $event.checked)">Is Primary</mat-checkbox>

                <!-- </mat-form-field> -->
            </div>
            <div class="col-12">
            
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Role" formControlName="role" (selectionChange)="changeRole()">
                        <mat-option *ngFor="let G of account_person_role_type" [value]="G.key">
                            {{G.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-person-page [(personForm)]="personForm" [isSignatory]="true"></app-person-page>

            <button mat-raised-button color="primary"  (click)="saveSignatory()">Save Signatory</button>
            <button mat-raised-button color="warn" (click)="closePerson()">Cancel </button>
            <button mat-raised-button color="primary" (click)="saveSignatoryToSource()" matTooltip="cascade all persons with this party number">Cascade Update</button>
        </div>
        
        </div>