/* mat-toolbar */
.example-container{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0
}

.app-name{
    padding-left:8px
}

.ProductName{
    margin-left:20px;
    font-family:inherit;
    line-height:30px;
    font-size:30px;
    font-weight:700
}

.WelcomeMessage{
    position:absolute;
    right:144px
}

.notification-badge{
    position:absolute;
    right:4px;
    top:11px;
    font-size:26px;
    font-weight:600
}

.mat-toolbar-row{
    padding-left:8px
}

/* mat-sidenav-container */
.example-sidenav-container{
    flex:1
}

.nav-link-inner{
    font-size:16px;
    font-weight:400;
    color:#fff;
    font-family:Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-transform:uppercase;
    padding:8px 16px
}

/* .mat-sidenav[_ngcontent-c1]{
    background:#6472bf
} */

.mat-sidenav[_ngcontent-c1][_ngcontent-c1]{
    background:#6472bf
}

.mat-sidenav{
    max-width:280px;
    font-family:Oswald;
    /* background:#6472bf; */
    background:#3f51b5;
}

.mat-nav-list .mat-list-item{
    font-size:18px;
    color:#fff;
}

.mat-nav-list .mat-list-item:hover{
    background-color:#4d5252!important
}

.mat-nav-list .mat-list-item{
    height:44px
}

:host mat-nav-list{
    padding:0
}

.mat-list-item{
    font-family:Oswald;
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    font-weight:400;
    text-decoration:none;
    line-height:1;
    font-size:13px;
    position:relative
}

.mat-divider{
    display:block;
    clear:both;
    /* background-color:rgba(255,255,255,.1); */
    background-color:#fff;
    opacity:.3
}

.mat-sidenav-content{
    background-color:#e4eae6;
    padding:16px
}

.red{
    background-color:orange
}

/*  */
/* [data-block-toggle]{
    position:fixed;
    right:-999999px
}

.row+.row{
    margin-top:30px
}

.notification{
    position:relative
}

.mat-button-menu{
    min-width:56px
}

.div2{
    box-sizing:border-box;
    color:#515365;
    background-color:#fff;
    max-height:90vh;
    max-width:90vw;
    min-height:40px;
    border:1px solid currentColor;
    width:375px;
    overflow:scroll
}

.content{
    height:24px;
    padding:2px
}

@keyframes pulse{
    0%{
        box-shadow:0 0 0 0 rgba(204,169,44,.4)
    }
    70%{
        box-shadow:0 0 0 10px rgba(204,169,44,0)
    }
    100%{
        box-shadow:0 0 0 0 rgba(204,169,44,0)
    }
}

.notification::after{
    border-color:transparent #e4eae6 transparent transparent;
    border-style:solid;
    border-width:18px 14px 16px 7px;
    content:" ";
    height:0;
    position:absolute;
    right:0;
    top:6px;
    width:0;
    z-index:2;
    transform:rotate(90deg)
}

@keyframes yourAnimation{
    0%{
        transform:rotate(xx);
        opacity:0
    }
    99%{
        opacity:1
    }
}

@keyframes yourAnimation{
    0%{
        transform:translateY(-50px)
    }
    99%{
        transform:rotate(xx) translateY(-50px)
    }
}


.menuClosed{
    margin-right:55px;
    margin-left:38px;
    text-align:center
}
.menuOpened{
    margin-right:6px
}

h1.example-app-name{
    margin-left:8px
} */
