
<div class="example-container">


  <mat-toolbar color="primary" *ngIf="isLoggedIn()">
    <mat-toolbar-row>
      <div>
        <!-- [ngClass]="{'menuClosed':isOn ,'menuOpened':!isOn}" -->
        <button mat-icon-button (click)="isOn=!isOn">
          <mat-icon>menu</mat-icon>

        </button>
      </div>
      <div class="app-name">
        <span class="ProductName">DataGear GoAML</span>
      </div>
      <!-- <button *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu"
        style="position: absolute;margin-right:4%;right: 67px;"> -->
      <div style="right: 49px;" *ngIf="isLoggedIn()" class="WelcomeMessage">
        <span style="font-size: 14px">Welcome: <i>{{userName | uppercase }}</i></span>
      </div>

      <button matTooltip="Logout" class="notification-badge" mat-icon-button>
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">

    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list color="primary">

        <mat-list-item (click)="index=1;GoToDashboard()" [ngClass]="{'red':index==1}">
          <mat-icon>dashboard</mat-icon>
          <span *ngIf="isOn" class="nav-link-inner">DashBoard</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="goToReports();index=2" [ngClass]="{'red':index==2}">
          <mat-icon>report</mat-icon>

          <span *ngIf="isOn" class="nav-link-inner">Reports</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="viewAdminPage" (click)="goToAdmin();index=3" [ngClass]="{'red':index==3}">
          <mat-icon>settings</mat-icon>

          <span *ngIf="isOn" class="nav-link-inner">Admin</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left.px]="isOn ? 190 : 57">
      <router-outlet></router-outlet>
      <app-loader *ngIf="loadingRouteConfig"></app-loader>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>