<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadServers(1)">Load Server 1</button>
<button class="btn btn-success" (click)="onLogIn()">Log In</button>
<button class="btn btn-default" (click)="onLogOut()">Log Out</button>


