<h1 mat-dialog-title>Restore Report</h1>
<div mat-dialog-content>
    <p>Press Continue to Restore last unsaved Report</p>
    <p>Press Cancel to Delete last unsaved Report</p>
    <!-- <mat-form-field>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field> -->
</div>
<div mat-dialog-actions>
   <button mat-button (click)="onCancelClick()">Cancel</button>
   <button mat-button (click)="onContinueClick()" >Continue</button> 
</div>