<hr>
<!-- {{reportIndicators.value | json}} -->


<app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>
<div [(formGroup)]="reportIndicators">
  <div class="row">
    
    <div class="col-lg-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[0]">
          <mat-expansion-panel-header>
            <mat-panel-title>Customer Classification</mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let x of customerClassificationData_values"> -->
            <!-- <mat-checkbox formControlName='CC'>{{x.value}}</mat-checkbox> -->
          <!-- </li> -->
          <mat-radio-group formControlName='CC'  >
            <mat-radio-button style="margin-left: 13px;" *ngFor="let x of customerClassificationData_values" [value]="x.key">{{x.value}}</mat-radio-button>
            </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('CC')?.hasError('required')&& 
    (reportIndicators.get('CC').dirty || reportIndicators.get('CC').touched)">
      <strong>Customer Classification</strong> Required !!
    </mat-error>
  </div>
  <div class="row">
    <div class="col-sm-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[1]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customer Information Update Status
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- <li *ngFor="let x of customerInformatonUpdateData_values">
            <mat-checkbox formControlName='CIU'>{{x.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Customer Information Update Status" formControlName="CIU"  >
              <mat-option *ngFor="let topping of customerInformatonUpdateData_values" [value]="topping.key">{{topping.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('CIU')?.hasError('required')&& 
 (reportIndicators.get('CIU').dirty || reportIndicators.get('CIU').touched)">
      <strong>Customer Information Update Status</strong> Required !!
    </mat-error>
  </div>

  <div class="row">
    <div class="col-sm-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[2]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customer Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let customerType of customerTypeData_values">
            <mat-checkbox formControlName='CT'>{{customerType.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Customer Type" formControlName="CT"  >
              <mat-option *ngFor="let CT of customerTypeData_values" [value]="CT.key">{{CT.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('CT')?.hasError('required')&& 
 (reportIndicators.get('CT').dirty || reportIndicators.get('CT').touched)">
      <strong>Customer Type</strong> Required !!
    </mat-error>
  </div>

  <div class="row">
    <div class="col-lg-8" style="margin-bottom: 30px ">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[3]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Detiction Mechanism
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let x of detectionMethodData_values">
            <mat-checkbox formControlName='DM'>{{x.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Detiction Mechanism" formControlName="DM" multiple >
              <mat-option *ngFor="let topping of detectionMethodData_values" [value]="topping.key">{{topping.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('DM')?.hasError('required')&& 
    (reportIndicators.get('DM').dirty || reportIndicators.get('DM').touched)">
      <strong>Detiction Mechanism</strong> Required !!
    </mat-error>
  </div>

  <div class="row">
    <div class="col-lg-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[4]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Predicate Crime
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let x of predictCrimeData_values">
            <mat-checkbox formControlName='PC'>{{x.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Predicate Crime" formControlName="PC" multiple >
              <mat-option *ngFor="let topping of predictCrimeData_values" [value]="topping.key">{{topping.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('PC')?.hasError('required')&& 
    (reportIndicators.get('PC').dirty || reportIndicators.get('PC').touched)">
      <strong>Predicate Crime</strong> Required !!
    </mat-error>
  </div>


  <div class="row">
    <div class="col-sm-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[5]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Suspicion Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let x of suspicionTypeData_values">
            <mat-checkbox formControlName='ST' value="x.value">{{x.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Suspicion Type" formControlName="ST"  >
              <mat-option *ngFor="let topping of suspicionTypeData_values" [value]="topping.key">{{topping.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('ST')?.hasError('required')&& 
    (reportIndicators.get('ST').dirty || reportIndicators.get('ST').touched)">
      <strong>Suspicion Type</strong> Required !!
    </mat-error>
  </div>

  <div class="row">
    <div class="col-sm-8" style="margin-bottom: 30px">
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="indicatorsExpansion[6]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Suspicion Pattern
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <li *ngFor="let x of suspicionPatternData_values">
            <mat-checkbox formControlName='SP'>{{x.value}}</mat-checkbox>
          </li> -->
          <mat-form-field>
            <mat-select placeholder="Suspicion Pattern" formControlName="SP" multiple >
              <mat-option *ngFor="let topping of suspicionPatternData_values" [value]="topping.key">{{topping.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-error *ngIf="reportIndicators.get('SP')?.hasError('required')&& 
    (reportIndicators.get('SP').dirty || reportIndicators.get('SP').touched)">
      <strong>Suspicion Pattern</strong> Required !!
    </mat-error>
  </div>

  <!-- <div class="row">
    <div class="col-4">
      <button mat-raised-button color="warn">Cancel</button>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="primary" (click)="validate(reportIndicators)">Validate jhh</button> 
    </div>
  </div> -->
</div>