
hr {
    /* display: block;
    height: 1px;
    border: 0; */
    border-top: 1px solid #000;
    /* margin: 1em 0;
    padding: 0; */
    }

    .mat-select-content{
        width: 5000px;
        font-size: 1.5em;
    }
    
   .test3{ width: 100%; 
    }

    .mat-form-field {
        width: 100%
    }