<app-game-control (increamentNumberEvent)="createNextNumberComponent($event)"></app-game-control>

<div class="container">
  <div class="row">
    <div class="col-xs-6" *ngFor="let number of numbersList">
      <p>
        <strong *ngIf="isEven(number)"><app-even [number]="number"></app-even> </strong>
        <i *ngIf="!isEven(number)"> <app-odd [number]="number"></app-odd> </i>
      </p>
    </div>
  </div>
</div>