<!-- {{t_toControl.value | json}} -->
<!-- {{transactionControl.value | json}} -->
<div [(formGroup)]="t_toControl">

  <!-- <div class="custom-control custom-checkbox col-10">
    <input type="checkbox" class="custom-control-input" id="defaultChecked7" unchecked>
    <label class="custom-control-label" for="defaultChecked7" style="PADDING-BOTTOM:10PX;font-size: 18px;
        font-style: italic;color: darkmagenta;">Reviewed</label>
  </div> -->
  <div class="row">
    <div class="col-sm-4" *ngIf="!cascade">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="To Fund Code" formControlName="toFundsCode" autofilled="true">
          <mat-option *ngFor="let type of fundCodes" [value]="type.key">
            {{type.value}}
          </mat-option>
        </mat-select>
        <mat-error
        *ngIf="t_toControl?.controls?.toFundsCode?.hasError('required')&& 
        (t_toControl?.controls?.toFundsCode.dirty || t_toControl?.controls?.toFundsCode.touched)">
        <strong>toFundsCode </strong> Required !!
      </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4" *ngIf="!cascade">
       <mat-form-field class="example-full-width">
    <input matInput placeholder="To Fund Comment"formControlName="toFundsComment">
  </mat-form-field>
    
    </div>
    <div class="col-sm-4" *ngIf="!cascade">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="To Country" formControlName="toCountry" autofilled="true">
          <mat-option *ngFor="let type of country_values" [value]="type.key">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- <div *ngIf="currencyvalue.value!=='EGP' && currencyvalue.value" class="col-sm-4"> -->
  <!-- toForeignCurrency -- formGroup -->
  <div formGroupName="toForeignCurrency" *ngIf="!cascade">
    <!-- 1- rom Currency Code -->
    <div class="row">
      <div class="col-sm-4" *ngIf="!cascade">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="To currency Code" formControlName="foreignCurrencyCode" (selectionChange)="changeCurrencyCode()">
            <mat-option *ngFor="let type of currencyCodes" [value]="type.key">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- 2- To Currenny Amount -->
      <div class="col-sm-4" *ngIf="!isEgyptianPound">
         <mat-form-field class="example-full-width">
    <input matInput placeholder="To currency Amount" type="number" min="0"  formControlName="foreignAmount">
  </mat-form-field>
     
      </div>
      <!-- 3- From Currency Exchange Rate -->
      <div class="col-sm-4" *ngIf="!isEgyptianPound">
         <mat-form-field class="example-full-width">
    <input matInput placeholder="To currency Exchange Rate" type="number" min="0" formControlName="foreignExchangeRate">
  </mat-form-field>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-select [(value)]="To_type" (selectionChange)="changeToType()" placeholder="To Type">
          <mat-option>None</mat-option>
          <mat-option value="MyClientEntity">My Client Entity</mat-option>
          <mat-option value="MyClientPerson">My client Person</mat-option>
          <mat-option value="MyClientAccount">My Client Account</mat-option>
          <mat-option value="OtherClientEntity">Other Client Entity</mat-option>
          <mat-option value="OtherClientPerson">Other client Person</mat-option>
          <mat-option value="OtherClientAccount">Other Client Account</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

</div>
  <div class="row">
    <mat-card style="width: -webkit-fill-available;">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <div style="border:1px">

          <app-entity-page *ngIf=" To_type=='MyClientEntity'" [(entityForm)]=" entityFormControl" (saveEvent)="save($event)"
          (changeEntity)="changeToControlFromSource($event,'myEntity')" [entityType]="'myEntity'">
          
            
          </app-entity-page>

          <app-person-page *ngIf="To_type=='MyClientPerson'" [(personForm)]="personFormControl" (saveEvent)="save($event)"
          (changePerson)="changeToControlFromSource($event,'myPerson')">
          
          </app-person-page>

          <app-account *ngIf="To_type=='MyClientAccount'" [accountForm]="accountFormControl" (saveEvent)="save($event)"
            (cancelEvent)="close()" (changeAccount)="changeToControlFromSource($event,'myAccount')" [accountType]="'MyAccount'"></app-account>

          <app-entity-page *ngIf="To_type=='OtherClientEntity'" [(entityForm)]="entityFormControl_other" (saveEvent)="save($event)"
          (changeEntity)="changeToControlFromSource($event,'otherEntity')">
          
            
          </app-entity-page>

          <app-person-page *ngIf="To_type=='OtherClientPerson'" [personForm]="personFormControl_other" (saveEvent)="save($event)"
          (changePerson)="changeToControlFromSource($event,'otherPerson')">
          
          </app-person-page>
          <app-account *ngIf="To_type=='OtherClientAccount'" [accountForm]="accountFormControl_other"
            (saveEvent)="save($event)" (cancelEvent)="close()" (changeAccount)="changeToControlFromSource($event,'otherAccount')"></app-account>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
      <button class="btn btn-primary" *ngIf="cascadeMe=='cascade'" (click)="sendToTocascade()"> Cascade Changes </button>
  </div>