<mat-tab-group [(selectedIndex)]="index">
  <mat-tab label="Admin Home page">
<!-- 
    <h3>System Admin Configuration</h3>
    <div>
    <p>user can add or update the following</p>
    <li>bank information</li>
    <li>reporting person information</li>
    <p>user can also generate audit report in specific dates</p>
  </div> -->
 
      
      
      <h1>System Admin Configuration</h1>
      <p> <b>admin user</b>  can add or update the following: </p>
      <ul>
      <li>bank information</li>
      <li>reporting person information</li>
      </ul>
      <p>user can also generate audit report in specific dates </p>
      <p>&#169; DataGearBI GOAML, 2019</p>
      
  </mat-tab>
  <mat-tab label="GoAML Bank info">
    <app-bank></app-bank>
  </mat-tab>
  <mat-tab label="GoAML Reportin persons Info">
    <app-reporting-person></app-reporting-person>
  </mat-tab>
  <mat-tab label="Audit Report">
    <app-audit></app-audit>
  </mat-tab>
</mat-tab-group>