<app-loader></app-loader>
<div class="bodyContainer" *ngIf="!isLoggedIn()">
  <!--- *ngIf="!isLoggedIn" -->
  <div class="container">
    <div class="ks-page">
      <div class="ks-page-content">
        <div class="ks-logo">
          <img src="assets/images/login-logo.png" alt="DataGear Anti-Money Laundering">
        </div>

        <div class="card panel panel-default ks-light ks-panel ks-login animated flipInX">
          <div class="card-block">
            <form class="form-container" #userlogin="ngForm" (ngSubmit)="signIn(userlogin.value)">
              <div class="form-group">
                <div class="input-icon icon-left icon-lg icon-color-primary">
                  <label>{{"Username"}} </label>
                  <input type="text" class="form-control" name="username" placeholder="Username" ngModel required
                    #username="ngModel">
                  <span class="icon-addon">
                    <span class="la la-user fa fa-user"></span>
                  </span>
                </div>
                <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                  <div *ngIf="username.errors.required"> Username is required </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon icon-left icon-lg icon-color-primary">
                  <label class="pull-left"> {{"Password"}} </label>
                  <!-- <a href="#" class="pull-right">Forget Password?</a> -->
                  <input type="password" class="form-control" name="password" placeholder="Password" ngModel required
                    #password="ngModel">
                  <span class="icon-addon">
                    <span class="la la-key fa fa-key"></span>
                  </span>
                </div>
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                  <div *ngIf="password.errors.required"> Password is required </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="ks-footer">
        <span class="ks-copyright">&copy; Copyright © 2019 - DataGear GoAML.</span>
      </div>
    </div>
  </div>
</div>