.bodyContainer{
    padding:0;
    background:#f5f6fa;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ks-page{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}

.container .ks-page .ks-page-content{
    margin:6% auto;
    width:500px;
}

.ks-page .ks-page-content{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
}

.ks-page .ks-page-content .ks-logo{
    color:#25628f;
    font-size:30px;
    font-weight:700;
    margin-bottom:40px;
    text-align:center;
}
.ks-page .ks-page-content .ks-panel{
    width:100%;
    margin:0 auto;
    text-align:left;
    background:#fff;
    color:#35628d;
    border-top:5px solid #e0a000;
    border-radius:5px;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
    padding:33px 33px 15px
}

.ks-page .ks-page-content .ks-panel .card-block{
    padding:30px
}

.ks-page .ks-page-content .ks-panel .form-control{
    border-color:rgba(57,81,155,.2)
}

.ks-page .ks-page-content .ks-panel .form-control:focus{
    border-color:rgba(57,81,155,.3)
}

.ks-page .ks-page-content .ks-panel .icon-addon span{
    color:rgba(51,51,51,.6)
}

.ks-page>.ks-footer{
    margin-bottom:40px;
    text-align:center;
    font-size:14px;
    padding:20px 0;
    border-top:1px solid #b9c1cb;
    margin-top:40px;
    color:#7a868f;
}

input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus{
    background:#f1f1f1;
    border-color:#eee;
    -webkit-transition:background .2s linear;
    -moz-transition:background .2s linear;
    -ms-transition:background .2s linear;
    -o-transition:background .2s linear;
    transition:background .2s linear;
}

.bodyContainer{
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    min-height:-webkit-min-content;
    min-height:-moz-min-content;
    min-height:min-content;
}

.ks-page-container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    width:100%;
    min-height:-webkit-min-content;
    min-height:-moz-min-content;
    min-height:min-content;
    height:100%;
}

.ks-page-container .ks-page{
    width:1px;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}

.ks-page-content{
    margin-top:-60px;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1 1 0%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    height:-webkit-calc(100% + 60px);
    height:calc(100% + 60px);
}

.ks-page-content .ks-page-content-body{
    margin-top:60px;
    padding-top:0;
}

.btn{
    padding:5px 15px;
    height:30px;
}

.btn[data-block-toggle]{
    position:fixed;
    right:-999999px;
}

[data-block-toggle]{
    position:fixed;
    right:-999999px;
}

@media screen and (max-width:500px){
    .ks-page-content .ks-page-content-body{
        padding-left:0;
        padding-right:0;
    }
}

form.ks-light .form-group label{
    color:#858585;
}

.ks-form .ks-form-group,.ks-form>.ks-group{
    display:block;
    padding-top:30px;
    padding-bottom:30px;
    border-bottom:1px solid #dee0e1;
}

.ks-form .ks-form-group:last-child,.ks-form>.ks-group:last-child{
    border-bottom:none;
    padding-bottom:0
}

.form-control-label{
    padding-left:0;
}

.form-group>.btn+.btn{
    margin-left:10px;
}

.form-control{
    font-family:Montserrat,sans-serif;
    z-index:0;
    height:38px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:solid 1px #dedede;
    font-size:12px;
    color:#333;
    padding:10px 15px;
}

.form-control::-webkit-input-placeholder{
    color:#858585;
}

.form-control::-moz-placeholder{
    color:#858585;
}

.form-control:-ms-input-placeholder{
    color:#858585;
}

.form-control::placeholder{
    color:#858585;
}

.form-control:hover{
    border-color:#ccc;
}

.form-control:-moz-read-only{
    background-color:#fafafa;
}

.form-control:read-only{
    background-color:#fafafa;
}

.form-control:focus,.form-control:focus:hover{
    border-color:#a6a6a6;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.form-control:disabled,.form-control:disabled:active,.form-control:disabled:hover{
    background-color:#fafafa;
    border:solid 1px #e8e8e8;
}

.form-control.form-control-lg{
    font-size:20px;
    padding:12px 15px;
    height:49px;
}

.input-group .input-group-addon{
    min-width:36px;
    background:#fff;
    border-color:#dedede;
    color:#333;
    font-size:13px;
    line-height:20px;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
}

.input-group.icon.icon-lg .input-group-addon,.input-group.icon.ks-lg .input-group-addon,.input-group.ks-icon.icon-lg .input-group-addon,.input-group.ks-icon.ks-lg .input-group-addon{
    padding:6px 11px;
    font-size:18px;
}

.input-group.icon.icon-color-primary .input-group-addon{
    color:#333;
}

.input-group .form-control{
    z-index:0;
}

.input-group .form-control:active,.input-group .form-control:focus,.input-group .form-control:hover{
    z-index:0;
}

.input-group-btn>.btn{
    z-index:0;
}

.input-icon{
    position:relative;
}

.input-icon .icon-addon{
    position:absolute;
    padding:0;
    color:rgba(58,82,155,.6);
    font-size:12px;
    width:36px;
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.input-icon .icon-addon>span{
    margin:0 auto;
    position:relative;
}

.input-icon.icon-left input{
    padding-left:38px;
}

.input-icon.icon-left .icon-addon{
    top:14px;
    left:0;
}

.input-icon.icon-right input{
    padding-right:38px;
}

.input-icon.icon-right .icon-addon{
    top:0;
    right:0;
}

.input-icon.icon-lg .icon-addon{
    font-size:18px;
}

.input-icon.icon-lg.icon-left .icon-addon{
    padding-left:5px;
}

.input-icon.icon-lg.icon-right .icon-addon{
    padding-right:6px;
}

.input-icon.icon-color-primary .icon-addon{
    color:#25628f;
}

.input-group-btn:not(:first-child)>.btn,.input-group-btn:not(:first-child)>.btn-group{
    z-index:0;
}
.btn{
    position:relative;
    font-size:12px;
    font-weight:500;
    -webkit-border-radius:2px;
    border-radius:2px;
    padding:10px 25px;
    font-family:Montserrat,sans-serif;
    color:#fff;
    height:38px;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-transition:none;
    transition:none;
}

.btn:disabled{
    opacity:.9;
}

.btn:focus{
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}

.btn.btn-lg{
    font-size:18px;
    padding:12px 30px;
    height:51px;
}

.btn>.ks-icon{
    margin:0;
    font-size:21px;
    position:absolute;
    top:0;
    left:0;
    height:37px;
    width:36px;
    margin-left:3px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -js-display:flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.btn>.ks-icon+.ks-text{
    padding-left:21px;
    padding-right:0!important;
}

.btn>.ks-text{
    padding-right:21px;
}

.btn>.ks-text+.ks-icon{
    padding:0;
    margin:0;
    left:auto;
    right:0;
    margin-right:3px;
}

.btn:hover{
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
}

.btn.ks-icon-block{
    position:relative;
    height:59px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    padding:0 20px;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
}

.btn.ks-icon-block>.ks-icon{
    width:auto;
    height:auto;
    position:static;
    display:block;
    font-size:21px;
    margin:0;
    margin-top:2px;
}

.btn.ks-icon-block>.ks-icon+.ks-text{
    margin-top:7px;
    margin-bottom:5px;
    padding:0;
}

.btn.ks-icon-block>.ks-text{
    display:block;
}

.btn.ks-icon-block>.ks-label{
    position:absolute;
    top:-8px;
    right:-8px;
}

.btn-group .btn{
    position:relative;
    margin-right:0;
    margin-bottom:0;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
}

.btn-group .btn input[type=checkbox],.btn-group .btn input[type=radio]{
    display:none;
}

.btn-group .btn-primary:active{
    background-color:#18415e;
    border-color:#18415e;
}

.btn-group.btn-group-icon .btn{
    padding:9px 14px;
    font-size:14px;
}

.input-group .input-group-addon.btn-primary{
    color:#fff;
    background-color:#25628f;
    border:solid 1px #25628f;
}

.btn-default{
    background:#fff;
    border:solid 1px #c2c2c2;
    color:#333;
}

.btn-default:hover{
    background:#ebebeb;
    border-color:#ebebeb;
    color:#333;
}

.btn-default:disabled,.btn-default:disabled:active,.btn-default:disabled:hover{
    background:#ebebeb;
    border-color:#c2c2c2;
    color:#858585;
}

.btn-primary{
    background-color:#25628f;
    border:solid 1px #25628f;
}

.btn-primary:hover{
    color:#fff;
    background-color:#1d4c6f;
    border-color:#1d4c6f;
}

.btn-primary:disabled,.btn-primary:disabled:active,.btn-primary:disabled:focus,.btn-primary:disabled:hover{
    background-color:#9fa8da;
    border-color:#9fa8da;
}

.btn-primary.ks-light{
    border-color:#ebeef5;
    background-color:rgba(57,81,155,.1);
    color:#25628f;
}

.btn-primary.ks-light:hover{
    background-color:#25628f;
    color:#fff;
    border-color:#25628f;
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
}

.btn-primary.ks-light:disabled,.btn-primary.ks-light:disabled:active,.btn-primary.ks-light:disabled:focus,.btn-primary.ks-light:disabled:hover{
    background-color:rgba(57,81,155,.1);
    color:rgba(58,82,155,.6);
    border-color:#ebeef5;
}

.btn-danger{
    background:#ef5350;
    border:solid 1px #ef5350;
}

.btn-danger:hover{
    color:#fff;
    background-color:#f44336;
    border-color:#f44336;
}

.btn-danger:disabled,.btn-danger:disabled:active,.btn-danger:disabled:focus,.btn-danger:disabled:hover{
    background-color:#ef9a9a;
    border-color:#ef9a9a;
}

.btn-danger.ks-light{
    background-color:#fdf0ed;
    color:#ef5350;
    border:1px solid #fdf0ed;
}

.btn-danger.ks-light:hover{
    background-color:#ef5350;
    border-color:#ef5350;
    color:#fff;
}

.btn-danger.ks-light:disabled,.btn-danger.ks-light:disabled:active,.btn-danger.ks-light:disabled:focus,.btn-danger.ks-light:disabled:hover{
    background-color:#fdf0ed;
    color:#f4a293;
    border-color:#fdf0ed;
}

.ks-panel,.panel{
    -webkit-border-radius:2px;
    border-radius:2px;
    border:solid 1px #dee0e1;
    background:#fff;
}

.ks-panel .card-block,.ks-panel .panel-body,.panel .card-block,.panel .panel-body{
    -webkit-border-top-left-radius:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    border-top-right-radius:2px;
}

.ks-panel .panel-body,.panel .panel-body{
    padding:1.25rem;
}

.ks-panel.panel-default,.panel.panel-default{
    border:solid 1px #dee0e1;
}

.panel.panel-primary{
    border:none;
}

.panel.panel-primary .card-block{
    border:none;
    background-color:#25628f;
    -webkit-border-bottom-left-radius:2px;
    border-bottom-left-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    border-bottom-right-radius:2px;
    color:#fff;
}

.panel.panel-primary.block-default .card-block{
    background-color:transparent;
    border-bottom:solid 1px rgba(57,81,155,.3);
    border-left:solid 1px rgba(57,81,155,.3);
    border-right:solid 1px rgba(57,81,155,.3);
    -webkit-border-bottom-left-radius:2px;
    border-bottom-left-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    border-bottom-right-radius:2px;
    color:#333;
}

.panel form>.form-group:last-child{
    margin-bottom:5px;
}

.card{
    -webkit-border-radius:2px;
    border-radius:2px;
    border:solid 1px #dee0e1;
    margin:0;
}

.card+.card{
    margin-top:30px;
}

.card>.card-block>.ks-text-block{
    margin-bottom:20px;
}

.card>.card-block>.ks-text-block:last-child{
    margin-bottom:0;
}

.card>.card-block>.ks-text-block>.ks-name{
    font-size:10px;
    color:rgba(51,51,51,.6);
    margin-bottom:10px;
    text-transform:uppercase;
}

.card>.card-block>.ks-text-block>.ks-text{
    font-size:12px;
}

.card{
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #dee0e1;
}

.card-block{
    padding:16px 20px;
    font-size:13px;
}

.card-footer{
    border-top:1px solid #dee0e1;
    background:#f9fafb;
    color:rgba(0,0,0,.4);
    font-size:13px;
    line-height:20px;
    padding:15px 20px;
}

.card-text{
    font-size:13px;
}

.card-primary{
    background-color:#25628f;
    border-color:#25628f;
}

.card-danger{
    background-color:#ef5350;
    border-color:#ef5350;
}
