<mat-card class="item">
<form [formGroup]="GoodsForm" class="example-full-width">


  <div class="row">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Item Type" formControlName="itemType">
          <mat-option *ngFor="let it of item_type_values" [value]="it.key">
            {{it.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Item Make" formControlName="itemMake" >
          </mat-form-field>
      
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" formControlName="description" >
          </mat-form-field>
      
    </div>
  </div>
  <div class="row">

    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="previously Registered To" formControlName="presentlyRegisteredTo" >
          </mat-form-field>
    
    </div>

    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="presently Registered To" formControlName="presentlyRegisteredTo" >
          </mat-form-field>


    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input  type="number" min="0" matInput placeholder="Estimated Value" formControlName="estimatedValue" >
          </mat-form-field>
    
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Status Code" formControlName="statusCode">
          <mat-option *ngFor="let tisv of trans_item_status_values" [value]="tisv.key">
            {{tisv.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Status Comments" formControlName="statusComments" >
          </mat-form-field>

    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Disposed Value" formControlName="disposedValue" >
          </mat-form-field>
   
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Currency Code" formControlName="currencyCode">
          <mat-option *ngFor="let cv of CurrencyValues" [value]="cv.key">
            {{cv.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Size" formControlName="size" >
          </mat-form-field>
    
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width">
            <input matInput placeholder="Size Uom" formControlName="sizeUom" >
          </mat-form-field> 
    </div>
  </div>
    <!-- is this div neeed form control -->
  
    <!-- dat format must be have T -->
    <div class="row">
    <div class="col-6">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Registration Date" formControlName="registrationDate" >
          </mat-form-field>
   
    </div>
    <div class="col-6">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Registration Number" formControlName="registrationNumber" >
          </mat-form-field>
    
    </div>
    </div>
    <div class="row">
    <div class="col-6">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Identification Number" formControlName="identificationNumber" >
          </mat-form-field>
  
    </div>
    

    <div class="col-6">
     
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Comment" formControlName="comments" >
          </mat-form-field>
       
      
    </div>
    </div>
  
      <div formGroupName="address">
          <mat-form-field>
              <mat-select placeholder="Address Type" type="text" id="newAttributeAdtype"
                  formControlName="addressType">
                  <mat-option *ngFor="let av of addtype_values" [value]="av.key">
                      {{av.value}}
                    </mat-option>
              </mat-select>
              <mat-error *ngIf="inputAddress.controls.addressType?.hasError('required')
              && (inputAddress.controls.addressType.dirty || inputAddress.controls.addressType.touched)">
                  <strong>Address Type</strong> Required !!
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Address" type="text" id="newAttributeAddress"
                  formControlName="address">
              <mat-error *ngIf="inputAddress.controls.address?.hasError('required')
                  && (inputAddress.controls.address.dirty || inputAddress.controls.address.touched)">
                  <strong>Address </strong> Required !!
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="City" type="text" id="newAttributecity"
                  formControlName="city">
              <mat-error *ngIf="inputAddress.controls.city?.hasError('required')
                  && (inputAddress.controls.city.dirty || inputAddress.controls.city.touched)">
                  <strong>City</strong> Required !!
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Zip Code" type="text" id="newAttributezip"
                  formControlName="zip">
              <mat-error *ngIf="inputAddress.controls.zip?.hasError('required')
                  && (inputAddress.controls.zip.dirty || inputAddress.controls.zip.touched)">
                  <strong>Zip Code</strong> Required !!
              </mat-error>
          </mat-form-field>
          <mat-form-field>

              <mat-select placeholder="Country"  type="text" id="newAttributecountry" formControlName="countryCode">
                  <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                      {{cv.value}}
                  </mat-option>
              </mat-select>


              <mat-error *ngIf="inputAddress.controls.countryCode?.hasError('required')
              && (inputAddress.controls.countryCode.dirty || inputAddress.controls.countryCode.touched)">
                  <strong>Country code</strong> Required !!
              </mat-error>
          </mat-form-field>
         <mat-form-field>
          <input matInput placeholder="State" type="text" id="newAttributestate" formControlName="state">
          <mat-error *ngIf="inputAddress.controls.state?.hasError('required')
                  && (inputAddress.controls.state.dirty || inputAddress.controls.state.touched)">
              <strong>State</strong> Required !!
          </mat-error>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput placeholder="Comment" type="text" id="newAttributecomment"
                  formControlName="addressComments"></textarea>
              <mat-error *ngIf="inputAddress.controls.addressComments?.hasError('required')
                  && (inputAddress.controls.addressComments.dirty || inputAddress.controls.addressComments.touched)">
                  <strong>comments</strong> Required !!
              </mat-error>
          </mat-form-field>
     
      </div>
   
    
 
</form>
</mat-card>