<app-loader></app-loader>
<div>


    <!-- <mat-chip-list> -->
        <button mat-raised-button class="margin-space" [disabled]="disableButton"  color="primary" (click)="updateSarReport()" *ngIf="editReportAction" selected>Save As Draft
            <mat-icon>save
            </mat-icon>
          </button>
     
        <button mat-raised-button class="margin-space" color="primary" (click)="closeReportPage()" selected >Close Report
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-raised-button class="margin-space" color="primary" [disabled]="disableButton" (click)="validateReport()" selected>Validate Report</button>
        <button  mat-raised-button class="margin-space" color="primary" [disabled]="disableButton"  (click)="ReportPreview()">Pdf Preview</button>

  <button mat-raised-button  color="primary" class="margin-space" [disabled]="disableButton" [matMenuTriggerFor]="menu" selected *ngIf="_ButtonAction">Actions</button>
  <!-- </mat-chip-list> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="SendToChecker()" *ngIf="_SendToCheckerAction">
      Send to Checker</button>
    <button mat-menu-item (click)="SendToAMLHead()" *ngIf="_SendToAMLHEADAction">Send to AML HEAD</button>
    <button mat-menu-item (click)="SendToAMLHead()" *ngIf="_SendToAMLHEADActionFromMaker">Send to AML HEAD</button>
    <button mat-menu-item (click)="ReturnToMaker()" *ngIf="_ReturnToMakerAction">Return to Maker</button>
    <button mat-menu-item (click)="ReturnToMaker()" *ngIf="_ReturnToMakerActionManager">Return to Maker</button>
      <button mat-menu-item (click)="ReturnToChecker()" *ngIf="_ReturnToCheckerAction">Return to Checker</button>
    <button mat-menu-item (click)="reOpenReport()" *ngIf="_reOpenReportAction">Re-Open Report</button>
    <button mat-menu-item (click)="MLCUAcknowledge()" *ngIf="_MLCUAcknowledgeAction">MLCU MODIFICATION</button>
    <button mat-menu-item (click)="Submit()" *ngIf="_SubmitAction">Submitted</button>

    <button mat-menu-item (click)="closeReport()" *ngIf="_closeReportAction">close Report</button>
    <button  mat-menu-item  (click)="GenerateXML()" *ngIf="_generateXMLAction">Generate XML</button>
    <button mat-menu-item (click)="makeAIfRequest()" *ngIf="_AIFRequestAction">AIF Request</button>

  </mat-menu>
</div>
<ng-container  *ngIf="reportDetailControl">
  <mat-tab-group [(selectedIndex)]="index">

    <mat-tab label="Report Details">
      <app-str-report-details [(reportDetailControl)]="reportDetailControl"></app-str-report-details>
    </mat-tab>

    <mat-tab label="Report Indicators">
      <app-report-indicatiors [reportController]="reportDetailControl"></app-report-indicatiors>
    </mat-tab>
    <mat-tab label="Activity detail">
      <h4>Suspecious Activities</h4>
      <app-sar-report-activities-list [(reportControl)]="reportDetailControl"
        (editActivityEvent)="editActivity($event)"></app-sar-report-activities-list>

      <button mat-raised-button [disabled]="disableButton" color="primary" (click)="addActivity()" class="addactivityButton"
        *ngIf="addActivityAction">Add Activity<mat-icon>add</mat-icon></button>
    </mat-tab>

  <mat-tab label="History">
      <app-history  [(reportDetailControl)]="reportDetailControl"></app-history>
    </mat-tab>
    <mat-tab *ngIf="addIndicator">
      <div class="activity-details">
        <ng-template mat-tab-label>
          Add Activity
          <mat-icon class="example-tab-icon" (click)="closeActivity()" color="primary">close</mat-icon>

        </ng-template>
        <app-sar-report-activity-details (saveEvent)="saveActivity($event)" (changeEvent)="changeActivity($event)"
          [ActivityControl]="EditActivitycontrol">
        </app-sar-report-activity-details>
      </div>
    </mat-tab>
    
    <mat-tab label="Validation" *ngIf="validationIndicators">
      <ng-template mat-tab-label>
        Validation
        <mat-icon class="example-tab-icon" (click)="closeValidationTab()" color="primary">close</mat-icon>

      </ng-template>
      <app-dynamic-forms-validations [validationErrors]="validationErrors" [reportControl]="reportDetailControl"
        (closeValidationTab)="closeValidationTab($event)" [validationErrorsLabels]="validationErrorsLabels">
      </app-dynamic-forms-validations>
    </mat-tab>

    <mat-tab label="Comment">
      <app-comment type="report"></app-comment>
    </mat-tab>
  </mat-tab-group>
</ng-container>
