
.margin-space{
    margin-right: 23px;
}


.activity-detail{
    background-color: #28a745;
    color: white;
    padding: 12px;
}
.Activity_Party_Type{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}
.red{
    background-color: red
}
:host .mat-tab-label-active{
    background-color: peru
}
.addactivityButton{
    margin-top: 16px;
}
:host table{
    margin-bottom: 5px;
}
.activity-details{
    margin: 0 auto;
    max-width: 90%;
}
.example-tab-icon {
    margin-right: 8px;
  }
  .example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  