
<mat-expansion-panel [expanded]="Emails.length>0">
  <mat-expansion-panel-header>
      <mat-panel-title>Email</mat-panel-title>
      <mat-panel-description>Add Email</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row" style="padding-bottom: 12px">
    <div class="col-6">
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" 
      [formControl]="inputEmail">
      <mat-error *ngIf="inputEmail?.hasError('required')
      && (inputEmail.dirty || inputEmail.touched)">
              <strong>Email </strong> Required !!
            </mat-error>
            <mat-error *ngIf="inputEmail?.errors
            && (inputEmail.dirty || inputEmail.touched)">
                    <strong>Enter Valid Email </strong>  !!
                  </mat-error>
                  </mat-form-field>
    </div>
    <div class="col-3">
      <button type="button" [disabled]="!inputEmail.valid" mat-raised-button color="primary" (click)="addFieldValue()">Add </button>
    </div>
        </div>
  <table class="table table-striped table-bordered"  [formGroup]="EmailFormGroup">
      <thead>
          <tr>
              <th>Email</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody formArrayName="email" *ngFor="let item of Emails.controls; let i = index;">
          <tr >
              <td>
               
                  <input   [formControlName]="i"  />
                  <mat-error *ngIf="item?.hasError('required')
                  && (item.dirty || item.touched)">
                          <strong>Email </strong> Required !!
                        </mat-error>
                        <mat-error *ngIf="item?.errors
                        && (item.dirty || item.touched)">
                                <strong>Enter Valid Email </strong>  !!
                              </mat-error>
              </td>
              
              <td (click)="deleteFieldValue(i)">
                <button color="warn" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
          </tr>
         
      </tbody>
  </table>
  
</mat-expansion-panel>