<div *ngIf="notValidElement.length > 0" id="validationErrors" >
  <div class="row">
    <div class="col-4"><h3>Validation Errors</h3></div>
    <div class="col-8">
      <button mat-raised-button color="warn" (click)="clearValidationErrors()">Clear validation Errors</button>
    </div>
  </div>
  
 <ul class="list-group right-border">
   <li class="list-group-item alert alert-danger" *ngFor="let x of notValidElement " (click)="scrollToAnchor(x)">{{x}} invalid</li>
   </ul>
</div>