<!-- {{BankInfoForm.value | json}} -->
<h1 class="col-12">GoAML Bank info</h1>
<app-validation-errors [notValidElement]="notValidElement"></app-validation-errors>
<mat-list>
        <!-- <h3 mat-subheader>S</h3> -->
        <h1 mat-subheader *ngIf="notValidSection.length>0">Sections Errors</h1>
        <mat-list-item *ngFor="let key of notValidSection" class="secionErrorItem">
          <h2 mat-line class="sectionErrorTitle">{{key.name}}</h2>
          <h6 mat-line> {{key.message }} </h6>
        </mat-list-item>
        </mat-list>
<div [formGroup]="BankInfoForm" class="row">

    <div class="col-6">
        <label class="col-6" for="name">bank Name</label>
        <input type="text" class="form-control  col-12" placeholder="Bank Name" formControlName="bankName">
        <mat-error *ngIf="f.bankName?.hasError('required')
        && (f.bankName.dirty || f.bankName.touched)">
            <strong>bankName</strong> Required !!
        </mat-error>
    </div>
    <div class="col-6">
        <label class="col-6" for="name">bank swift</label>
        <input type="text" class="form-control  col-12" placeholder="Bank swift" formControlName="bankSwift">
        <mat-error *ngIf="f.bankSwift?.hasError('required')
        && (f.bankSwift.dirty || f.bankSwift.touched)">
            <strong>bankSwift</strong> Required !!
        </mat-error>
    </div>

    <div class="col-6">
        <label class="col-6" for="name">rentityId</label>
        <input type="text" class="form-control  col-12" placeholder="RentityId" formControlName="rentityId">
        <mat-error *ngIf="f.rentityId?.hasError('required')
        && (f.rentityId.dirty || f.rentityId.touched)">
            <strong>rentityId</strong> Required !!
        </mat-error>
    </div>
    <div class="col-6">
        <label class="col-6" for="name">Branch Name</label>
        <input type="text" class="form-control  col-12" placeholder="Branch Name" formControlName="rentityBranch">
    </div>
    <div [formGroup]="location" style="padding-left: .8%">
        <mat-form-field>
            <mat-label>Address Type</mat-label>
            <mat-select formControlName="addressType">
                <mat-option *ngFor="let av of addtype_values" [value]="av.key">
                    {{av.value}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f.addressType?.hasError('required')
        && (f.addressType.dirty || f.addressType.touched)">
                <strong>Address Type</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input style="padding-bottom: 2%" matInput placeholder="Address" formControlName="address">
            <mat-error *ngIf="f.address?.hasError('required')
            && (f.address.dirty || f.address.touched)">
                <strong>Address </strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input style="padding-bottom: 2%" matInput placeholder="Town" class="form-control" type="text"
                id="newAttributecity" formControlName="town">
            <mat-error *ngIf="f.town?.hasError('required')
            && (f.town.dirty || f.town.touched)">
                <strong>town</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input style="padding-bottom: 2%" matInput placeholder="City" class="form-control" type="text"
                id="newAttributecity" formControlName="city">
            <mat-error *ngIf="f.city?.hasError('required')
            && (f.city.dirty || f.city.touched)">
                <strong>City</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input style="padding-bottom: 2%" matInput placeholder="Zip code" class="form-control" type="text"
                id="newAttributezip" formControlName="zip">
            <mat-error *ngIf="f.zip?.hasError('required')
            && (f.zip.dirty || f.zip.touched)">
                <strong>Zip Code</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>

            <mat-select placeholder="Country" class="form-control" type="text" id="newAttributecountry"
                formControlName="countryCode">
                <mat-option *ngFor="let cv of country_values" [value]="cv.key">
                    {{cv.value}}
                </mat-option>
            </mat-select>


            <mat-error *ngIf="f.countryCode?.hasError('required')
        && (f.countryCode.dirty || f.countryCode.touched)">
                <strong>Country code</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input style="padding-bottom: 2%" matInput placeholder="State" class="form-control" type="text"
                id="newAttributestate" formControlName="state">
            <mat-error *ngIf="f.state?.hasError('required')
            && (f.state.dirty || f.state.touched)">
                <strong>State</strong> Required !!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea style="padding-bottom: 2%" matInput placeholder="Comment" class="form-control" type="text"
                id="newAttributecomment" formControlName="comments"></textarea>
            <mat-error *ngIf="f.comments?.hasError('required')
            && (f.comments.dirty || f.comments.touched)">
                <strong>comments</strong> Required !!
            </mat-error>
        </mat-form-field>
    </div>
    <!-- <div class="col-10">
        <app-addresses [(addressFormGroup)]="BankInfoForm"></app-addresses>
    </div> -->
    <div class="col-4">
        <button mat-raised-button color="primary" style="margin-right: 22px" (click)="SaveBankInfo()">Save</button>
        <button mat-raised-button color="primary" style="margin-right: 22px" (click)="GetBankInfo()">Get Bank
            Info</button>
        <button mat-raised-button color="primary" style="margin-right: 22px"
            (click)="validate(BankInfoForm)">Validate</button>
    </div>

</div>