<app-loader></app-loader>

<table class="table table-striped table-bordered" [formGroup]="activity">
  <thead>
    <tr>
      <th> Type</th>
      <th>Number</th>

      <th>Edit</th>

      <th>Delete</th>
    </tr>
  </thead>
  <ng-container formGroupName="reportParties" >
    <tbody formArrayName="reportParty" *ngFor="let item of ActivitiesArray.controls; let i = index;">

      <tr [formGroupName]="i">
        <td>
          <span *ngIf="item.controls.person.value">
            person
          </span>

          <span *ngIf="item.controls.account.value">
            account
          </span>
          <span *ngIf="item.controls.entity.value">
            entity
          </span>
        </td>

        <!--  -->
        <td>
          <span *ngIf="item.controls.person.value">
            {{item.controls.person.value.partyNumber}}
          </span>

          <span *ngIf="item.controls.account.value">
            {{item.controls.account.value.account}}
          </span>
          <span *ngIf="item.controls.entity.value">
            {{item.controls.entity.value.entityNumber}}

          </span>
        </td>
        <!--  -->
        <td>
            <button mat-icon-button [disabled]="disableEdit" (click)="editActivity2(item)">
                <mat-icon >edit</mat-icon>
              </button>
        </td>
        <td >
            <button mat-icon-button color="warn" [disabled]="disableEdit" (click)="deleteActivity(i)">
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      
      </tr>
    
    </tbody>
  </ng-container>
</table>