<div>
  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Current Status</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Last Update Date</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <input type="date" matInput placeholder="Last Update Date" value="date">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px;margin-top: 20px">Reporting Entity ID
        *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <textarea matInput placeholder="Reporting Entity ID"></textarea>
      </mat-form-field>
    </div>
  
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Entity Branch</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <textarea matInput placeholder="Entity Branch"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Submission Code *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
 
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Report Type *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Report Reference *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <textarea matInput placeholder="Report Reference"></textarea>
      </mat-form-field>
    </div>
  
    <div class="col-sm-2"><label style="font-size: 20px; margin-right: 100px; margin-top: 20px">Cannel Ref. ID*</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <textarea matInput placeholder="Cannel Ref. ID"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Submission Date *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <input type="date" matInput placeholder="Last Update Date" value="date">
      </mat-form-field>
    </div>
 
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Currency Code Local
        *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label style="font-size: 20px; margin-top: 20px">Reporting Person *</label></div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button mat-raised-button color="warn">Cancel</button>
      <button mat-raised-button color="primary">Save</button>
    </div>
  </div>
</div>
