<app-loader></app-loader>
<div [formGroup]="MultipleTransactionForm">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Add Multiple Transactions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <label>Search By</label>
        </div>
        <div class="col-5">
          <mat-form-field>
            <mat-select [(value)]="selected" (selectionChange)="clearAll()" formControlName="searchBy">
              <mat-option>None</mat-option>
              <mat-option value="AMLCASEID" >AML CASE ID</mat-option>
              <mat-option value="AlertID" >Alert ID</mat-option>
              <mat-option value="AccountNumber" >Account Number</mat-option>
              <mat-option value="PartyNumber" >Party Number</mat-option>
              <mat-option value="TwoParties"  >Two Parties</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="selected">
        <div class="col-6" *ngIf="selected!='TwoParties'">

          <input type="text"  class="form-control" id=SearchvalueID  

           formControlName="searchValue" placeholder={{selected}}>
        </div>
       
        <div class="row" *ngIf="selected=='TwoParties'">
          <div class="col-6" >
            <mat-form-field>
              <mat-select [(value)]="partiesFrom" formControlName="partiesFrom" placeholder="select From side">
                <mat-option>None</mat-option>
                <mat-option value="fromAccountNumber">Account Number</mat-option>
                <mat-option value="fromPartyNumber">Party Number</mat-option>
              </mat-select>
            </mat-form-field>
            <input type="text" class="form-control" id=partiesFrom formControlName="partiesFromValue"placeholder={{partiesFrom}}>
          </div>
          <!-- <div class="col-3">
            
          </div> -->
          <div class="col-6">
            <mat-form-field>
              <mat-select [(value)]="partiesTo" formControlName="partiesTo" placeholder="select To side">
                <mat-option>None</mat-option>
                <mat-option value="toAccountNumber">Account Number</mat-option>
                <mat-option value="toPartyNumber">Party Number</mat-option>
              </mat-select>
            </mat-form-field>
            <input type="text" class="form-control" id=partiesTo formControlName="partiesToValue"placeholder={{partiesTo}}>
          </div>
          <!-- <div class="col-3">
            
          </div> -->

        </div>



        <div class="row">
          <div class="col-4"> <label>Transaction Date</label></div>
          <div class="col-4">
            <label for="fromDate">From</label>
            <input type="date" class="form-control" formControlName="fromDate" max="{{myDate | date:'yyyy-MM-dd'}}"
              id="fromDate">

          </div>

          <div class="col-4">
            <label for="toDate">To</label>
            <input type="date" class="form-control" formControlName="toDate" max="{{myDate | date:'yyyy-MM-dd'}}"
              id="toDate">
          </div>
        </div>


        <div class="row">
          <div class="col-4"> <label>Transaction Amount</label></div>
          <div class="col-4">
            <label for="fromAmount">From</label>
            <input type="number" min="0" class="form-control" formControlName="fromAmount" id="fromAmount">

          </div>

          <div class="col-4">
            <label for="toAmount">To</label>
            <input type="number" min="0" class="form-control" formControlName="toAmount" id="toAmount">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12">
              <mat-select placeholder="Transaction Type" formControlName="tType" multiple>
                <mat-option *ngFor="let topping of TransTypeData_values" [value]="topping.key">{{topping.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field class="col-12">
              <mat-select placeholder="Transmode Type"  type="text" id="TransmodeType"
                formControlName="transmodeCode" multiple>
                <mat-option *ngFor="let TC of Transmod_code" [value]="TC.key">
                  {{TC.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="validate(MultipleTransactionForm);GetMultiTrans()">Add</button>
    </mat-card-actions>

  </mat-card>
</div>