<app-loader></app-loader>
<app-validation-errors [(notValidElement)]="notValidElement"></app-validation-errors>

<div [(formGroup)]="reportParty">
  
<div class="row" *ngIf="createMode">
  <div class="col-4">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Party / Account number" mat-input id="entity_number" #entity_number>
    </mat-form-field>
  </div>
  <div class="col-1">
      <button mat-raised-button color="primary" (click)="getActivityPartyByNumber(entity_number)">Get Info</button>
      <!-- <button mat-raised-button color="primary" (click)="getActivityPartyByNumber(entity_number)" >Get information</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-6">
    <mat-form-field>
      <mat-select [(value)]="party_type" (selectionChange)="changeReportParty()" [disabled]="!createMode" placeholder="Activity Party Type">
        <mat-option value="">None</mat-option>
        <mat-option value="Entity">Entity</mat-option>
        <mat-option value="Person">Person</mat-option>
        <mat-option value="Account">Account</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
  <div class="row">
    
    <div class="col-12">
  <mat-form-field class="example-full-width">
    <!-- <input matInput placeholder="Significance" formControlName="significance" min=0 max=10 type="number"> -->
    <mat-select placeholder="Significance" formControlName="significance">
      <mat-option *ngFor="let cv of significanceList" [value]="cv">
          {{cv}}
      </mat-option>

  </mat-select>
  </mat-form-field>
  </div>

  </div>
  <div class="row">
    <div class="col-12">
     
     
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
            </mat-form-field>
     
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
     
     
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment" formControlName="comments"></textarea>
              </mat-form-field>
    
    </div>
  </div> -->
</div>
<div class="row activity-detail-row" *ngIf="party_type!=''">
  <div class="col-12 activity-detail">
    <h5>{{party_type}} detail</h5>
  </div>
</div>


<app-entity-page [disableEntity]="disableParty" *ngIf="party_type=='Entity'" [(entityForm)]="entityFormControl" (changeEntity)="changeEntity($event)">

</app-entity-page>
<app-person-page [disablePerson]="disableParty" *ngIf="party_type=='Person'" [(personForm)]="personFormControl" (changePerson)="changePerson($event)">

</app-person-page>
<app-account [disableAccount]="disableParty"  *ngIf="party_type=='Account'" [(accountForm)]="accountFormControl"  (changeAccount)="changeAccount($event)">

</app-account>
<div>
  <button mat-raised-button color="primary" (click)="saveActivity()" *ngIf="createMode&&saveActivityAction">Save Activity</button>
  <button mat-raised-button color="primary" (click)="editActivity()" *ngIf="!createMode&&editActivityAction">*Save Activity</button>
</div>