.activity-detail-row{
    margin:0 !important
}
.activity-detail{
    background-color:#22546c;
    color: white;
    /* padding: 12px; */
    padding: 10px;
}
.Activity_Party_Type{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}
.example-full-width{
    width: 100%
}