<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  
  <div class="col-md-7">
    <router-outlet ></router-outlet>
    <!-- <app-recipe-detail *ngIf="recipe; else infoText" [recipe]="recipe"></app-recipe-detail> -->

  </div>
</div>
