

.audit{
color:rgb(17, 80, 139);
margin-left: 165px;
font-style: normal;
font-family: 'Times New Roman', Times, serif;
font-size: 22pt;

}
.notif{
    color: red;
}

mat-progress-spinner {
    float: left;
}
