<br>
<!-- <mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner> -->
<app-loader></app-loader>
<div class="container">
  <h5 class="audit">Audit File</h5>
  <form class="col-sm-5" [formGroup]="auditForm" (ngSubmit)="getSourceAudit(auditForm.value)">
    <div class="form-group-row">
      <label> From Date:</label>
      <input type="date" class="form-control" placeholder="" max="{{myDate | date:'yyyy-MM-dd'}}"
        formControlName="fromDate">
      <div class="notif" *ngIf="formdate || (auditForm.get('fromDate').touched&&auditForm.get('fromDate').invalid)">
        Please Enter From Date!!</div>
    </div>
    <div class="form-group-row">
      <label> To Date:</label>
      <input type="date" class="form-control" placeholder="" max="{{myDate | date:'yyyy-MM-dd'}}"
        formControlName="toDate">
      <div class="notif" *ngIf="todate || (auditForm.get('toDate').touched&&auditForm.get('toDate').invalid)">
        Please Enter To Date!!</div>
      <div class="notif" *ngIf="range">ToDate Must be Greater Than or Equal FromDate!</div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Generate Audit File</button> <br>
  </form>
</div>