<ng-container *ngFor="let z of validationErrorsLabels">
  <div>
   <p style="color: crimson"> {{z.name}}==>
    {{z.message}}
  </p>
  </div>
  </ng-container>
<ng-container *ngFor="let a of validationErrors ">

  <div *ngIf="a.options;else textFields">

    <app-dynamic-mat-select [config]="a"></app-dynamic-mat-select>


  </div>

  <ng-template #textFields>

    <ng-container *ngIf="a.inputType=='boolean'">
      <!-- <mat-select placeholder="{{a.path}}" [(formControl)]="a.formcontrol">
        <mat-option *ngFor="let cv of [true,false]" [value]="cv">
            {{cv}}
        </mat-option>
        </mat-select> -->
        <mat-checkbox   [formControl]="a.formcontrol" (change)="checkboxChange($event.source, $event.checked,a.formcontrol)">{{a.path}}</mat-checkbox>

    </ng-container>
    <!-- <mat-form-field class="example-full-width"> -->
      <!-- <input matInput type="{{a.inputType||'text'}}" [(formControl)]="a.formcontrol" placeholder="{{a.path}}"> -->
      <ng-container *ngIf="a.inputType=='date'">
        <mat-form-field class="example-full-width">
        <input matInput type="date" [(formControl)]="a.formcontrol" placeholder="{{a.path}}">
</mat-form-field>
      </ng-container>
      <ng-container *ngIf="a.inputType=='number'">
          <mat-form-field class="example-full-width">

        <input matInput type="number" [(formControl)]="a.formcontrol" placeholder="{{a.path}}">
</mat-form-field>
      </ng-container>
      <ng-container *ngIf="!a.inputType">
          <mat-form-field class="example-full-width">

        <input matInput type="text" [(formControl)]="a.formcontrol" placeholder="{{a.path}}">
</mat-form-field>
      </ng-container>
    <!-- </mat-form-field> -->
  </ng-template>

</ng-container>

<button mat-raised-button (click)="close()"> Save</button>

<!-- <app-dynamic-mat-select [config]="a"></app-dynamic-mat-select> -->