
  <mat-accordion>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Goods Services
      </mat-expansion-panel-header>
      <div class="row">
      <button mat-raised-button (click)="addItem()" color="primary">Add Item  <mat-icon>add</mat-icon></button>
    </div>
      <ng-container *ngFor="let item of itemsArray.controls;let i=index">
          <mat-chip color="primary">{{i}}</mat-chip>
<button mat-button (click)="removeItem(index)"><mat-icon>delete</mat-icon></button>
      <app-goods-item [GoodsForm]="item"></app-goods-item>

      <mat-divider></mat-divider>

      </ng-container>
      <br>
  </mat-expansion-panel>




</mat-accordion>