
<mat-form-field>
  <mat-label>Choose Person</mat-label>
  <mat-select [(value)]="chosenPerson">
    <mat-option *ngFor="let person of persons" [value]="person">
      {{person.partyNumber}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="close()">close</button>
</div>