<div class="row">
    <div class="col-lg-6" [chart]="reportChart">
    </div>

    <div class="col-lg-6" [chart]="statusChart">
    </div>
</div>


<hr>
<!-- two tables -->
<div class="row">

    <div class="example-container mat-elevation-z8 col-lg-6">
        <p class="paragraph">
            Top 10 Reports
        </p>
        <mat-form-field class="col-lg-10">
            <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="example-table-container">

            <table mat-table [dataSource]="dataSource1" class="example-table" matSort matSortActive="created"
                matSortDisableClear matSortDirection="desc" style="width: -webkit-fill-available;">


                <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle1() : null" [checked]="selection1.hasValue() && isAllSelected1()"
                    [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
                    [checked]="selection1.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->

                <!-- reportCreatedBy Column -->
                <ng-container matColumnDef="reportUserLockId">
                    <th mat-header-cell *matHeaderCellDef>Locked By</th>
                    <td mat-cell *matCellDef="let row">{{row.reportUserLockId}}</td>
                </ng-container>

                <!-- reportCreatedDate Column -->
                <ng-container matColumnDef="reportCreatedDate">
                    <th mat-header-cell *matHeaderCellDef>reportCreatedDate</th>
                    <td mat-cell *matCellDef="let row">{{row.reportCreatedDate |date:'yyyy-MM-dd'}}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="reportCode">
                    <th mat-header-cell *matHeaderCellDef>Report Category</th>
                    <td mat-cell *matCellDef="let row">{{row.reportCode}}</td>
                </ng-container>
                ast 10 reports in the report table
                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Report Id
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <!-- lastUpdateDate Column -->
                <ng-container matColumnDef="lastUpdateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Last Update Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.lastUpdateDate}}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <button mat-icon-button (click)="onReportClickTable1(element.id,element.reportCode)">
                            <mat-icon>launch</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        </div>

        <!-- <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator> -->
    </div>



    <div class="example-container mat-elevation-z8 col-lg-6">
        <!-- <div class="example-loading-shade"
                   *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                  GitHub's API rate limit has been reached. It will be reset in one minute.
                </div>
              </div> -->

        <p class=" paragraph">
            My Top 10 Reports
        </p>
        <mat-form-field class="col-lg-10">
            <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="example-table-container">

            <table mat-table [dataSource]="dataSource2" class="example-table" matSort matSortActive="created"
                matSortDisableClear matSortDirection="desc" style="width: -webkit-fill-available;">

                <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                    [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                    [checked]="selection2.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->

                <!-- reportCreatedBy Column -->
                reportStatusCode
                <ng-container matColumnDef="reportStatusCode">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let row">{{row.reportStatusCode}}</td>
                </ng-container>

                <!-- reportCreatedDate Column -->
                <ng-container matColumnDef="reportCreatedDate">
                    <th mat-header-cell *matHeaderCellDef>reportCreatedDate</th>
                    <td mat-cell *matCellDef="let row">{{row.reportCreatedDate |date:'yyyy-MM-dd'}}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="reportCode">
                    <th mat-header-cell *matHeaderCellDef>Report Category</th>
                    <td mat-cell *matCellDef="let row">{{row.reportCode}}</td>
                </ng-container>

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Report Number
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <!-- lastUpdateDate Column -->
                <ng-container matColumnDef="lastUpdateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Last Update Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.lastUpdateDate}}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <button mat-icon-button (click)="onReportClickTable2(element.id,element.reportCode)">
                            <mat-icon>launch</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>

        <!-- <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator> -->
    </div>

</div>

<script src="https://code.highcharts.com/highcharts-3d.js"></script>