<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span *ngIf="signupForm.get('userData.username').invalid && signupForm.get('userData.username').touched">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This username is invalid!</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">This username is required!</span>
            </span>

          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
            <span *ngIf="signupForm.get('userData.email').invalid && signupForm.get('userData.email').touched"
                  class="help-block">Please Enter Valid Email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="addHobby()">Add Hobby</button>
          <div class="form-group"
            *ngFor="let hobbyControl of getControls(); let i =index">
            <input type="text" class="form-control" [formControlName]="i" >
          </div>
        </div>

        <span *ngIf="signupForm.invalid && signupForm.touched" class="help-block">Please Enter Valid Data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
