table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .myClass{
    color : red;
  }

 
  .addReport{
    margin-left: 12px
  }


  .centre {
    text-align: center
  }
  
