
<app-loader></app-loader>

<div class="container">
  <button mat-raised-button color="primary" (click)="RouteReport()" *ngIf="_routeReportAction">
    Route Report<mat-icon>forward</mat-icon></button>

  <button mat-raised-button color="primary" class="addReport" (click)="opencreateNewReportDialog()"
    *ngIf="createReportAction">Create Report

    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="container" (keydown)="onKeydown($event)" [formGroup]="searchForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="partyNumber" (keyup)="FilterByCustomer($event.target.value)"
          placeholder="Party Number">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="partySSN" (keyup)="FilterByCustomer($event.target.value)"
          placeholder="Party SSN">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="reportNumber" (keyup)="FilterByColumn($event.target.value,'id')"
          placeholder="Report Number">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="reportUserLockId"
          (keyup)="FilterByColumn($event.target.value,'reportUserLockId')" placeholder="Locked by" type="text">

      </mat-form-field>
    </div>
 
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
  
        <mat-select placeholder="Report Category" type="text" formControlName="reportCode">
          <mat-option *ngFor="let cv of code_values" [value]="cv.key">
            {{cv.key}}
          </mat-option>
        </mat-select>
 
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-select placeholder="Report Status" type="text" formControlName="reportStatusCode">
          <mat-option *ngFor="let rs of report_status" [value]="rs.key">
            {{rs.key}}
          </mat-option>
        </mat-select>
        <!-- <input matInput formControlName="reportStatusCode"
          (keyup)="FilterByColumn($event.target.value,'reportStatusCode')" placeholder="Report Status" type="text"> -->
      </mat-form-field>

    </div>
  </div>
  <div class="row">

    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="submissionDateFrom"
          (keyup)="FilterByColumn($event.target.value,'submissionDate')" placeholder="Submission Date From" type="date">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="submissionDateTo"
          (keyup)="FilterByColumn($event.target.value,'submissionDate')" placeholder="Submission Date To" type="date">
      </mat-form-field>
    </div>

    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="reportCreatedDateFrom"
          (keyup)="FilterByColumn($event.target.value,'reportCreatedDate')" placeholder="Creation Date From"
          type="date">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="reportCreatedDateTo"
          (keyup)="FilterByColumn($event.target.value,'reportCreatedDate')" placeholder="Creation Date To" type="date">
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="reportCreatedBy"
          (keyup)="FilterByColumn($event.target.value,'reportCreatedBy')" placeholder="Created by" type="text">

      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-select placeholder="Priority" type="text" formControlName="priority">
          <mat-option *ngFor="let rp of report_priority" [value]="rp.key">
            {{rp.key}}
          </mat-option>
        </mat-select>
        <!-- <input matInput formControlName="priority" (keyup)="FilterByColumn($event.target.value,'priority')"
          placeholder="Priority" type="text"> -->
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="entityReference"
          (keyup)="FilterByColumn($event.target.value,'entityReference')" placeholder="Entity Ref Number" type="text">

      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="fiuRefNumber" (keyup)="FilterByColumn($event.target.value,'fiuRefNumber')"
          placeholder="FIU Number" type="text">
      </mat-form-field>

    </div>
    <div class="container">
     
      <button mat-raised-button color="primary" (click)="GetReportsByFilters()">
        Search<mat-icon>search</mat-icon></button>
    
      <button mat-raised-button color="primary" class="addReport" (click)="ClearSearchFields()">Clear Search
    
        <mat-icon>clear</mat-icon>
      </button>
      
    </div>

  </div><br>
  <div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="getServerData1($event)">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="id">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="id"> Report Number</th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="reportCode">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="reportCode"> Report Category </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.reportCode}} </td>
    </ng-container>

    <!-- Reprot Status Column -->
    <ng-container matColumnDef="reportStatusCode">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="reportStatusCode"> Report Status </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.reportStatusCode}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="submissionDate">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="submissionDate"> Submission Date </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.submissionDate |date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Lock_User Column -->
    <ng-container matColumnDef="reportUserLockId">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="reportUserLockId"> Locked By </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.reportUserLockId}} </td>
    </ng-container>
    <!--  -->
    <ng-container matColumnDef="reportCreatedBy">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="reportCreatedBy"> Created By </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.reportCreatedBy}} </td>
    </ng-container>
    <!--  -->
    <!--  -->
    <ng-container matColumnDef="reportCreatedDate">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="reportCreatedDate"> Creation Date </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.reportCreatedDate |date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">

      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="priority"> Priority </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>
    <!--  -->
    <!--  -->
    <ng-container matColumnDef="entityReference">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="entityReference"> Entity Reference Number
      </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.entityReference}} </td>
    </ng-container>

    <ng-container matColumnDef="fiuRefNumber">
      <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header="fiuRefNumber"> FIU Ref Number </th>
      <td mat-cell class="centre" *matCellDef="let element"> {{element.fiuRefNumber}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">

        <button mat-icon-button [style.color]="element.reportUserLockId? 'red': ''" *ngIf="element.reportUserLockId"
          (click)="Locked(element.id,element.userName,i)">
          <mat-icon>lock</mat-icon>
        </button>
        <button mat-icon-button [style.color]="!element.reportUserLockId? 'green': ''" *ngIf="!element.reportUserLockId"
          (click)="Locked(element.id,element.userName,i)">
          <mat-icon>lock_open</mat-icon>
        </button>
        <button mat-icon-button (click)="onReportClick(element.id,element.reportCode, element.userName,i)"
          *ngIf="viewReportAction">
          <mat-icon>launch</mat-icon>
        </button>

        <!-- <mat-icon color="warn" (click)="deleteReport(index)">delete</mat-icon>   -->
      </mat-cell>

    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="pageEvent = getServerData($event)" [pageSizeOptions]="[10, 20]" [length]="resultsLength"
    showFirstLastButtons></mat-paginator>
</div>