<div>
  <app-loader></app-loader>

  <div class="example-button-row" style="padding: 6px;">
    <!-- <button mat-raised-button routerLink="." color="Primary" style="font-size: 15px ;margin-right: 33px;"
      (click)="onAddNewSingleTransaction()">Add Single
      Transaction</button> -->
    <!-- <mat-chip-list> -->
      <button mat-raised-button class="margin-space" color="primary" [disabled]="disableTransaction" (click)="onAddNewSingleTransaction()"
        matTooltip="Add Single Transaction" selected>Add Transaction
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="margin-space" color="primary" [disabled]="disableTransaction" (click)="onAddMultipleTransaction()"
        selected>Add Multiple Transaction
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="margin-space" color="primary" [disabled]="disableTransaction" (click)="onCascadeTransactions()"
        selected>Cascade Update</button>
      <button mat-raised-button class="margin-space" color="primary" [disabled]="disableTransaction" (click)="validateAllTransactions()"
        selected>Validate Transactions</button>
      <button mat-raised-button class="margin-space" color="primary" [disabled]="disableTransaction" (click)="removeSelectedRows()"
        selected>Delete Transactions</button>
    <!-- </mat-chip-list> -->
    <!-- <a mat-raised-button routerLink="." style="font-size: 15px" (click)="onAddMultipleTransaction()">Add
      Multiple
      Transaction</a>
  </div>
</div>
<div style="padding: 7px;">
  <a mat-raised-button  style="font-size: 15px;margin-right: 34px;" (click)="removeSelectedRows()" *ngIf="deleteTransactionAction">Delete
    Selected Transactions</a>
  <a mat-raised-button  style="font-size: 15px ; margin-right: 34px" (click)="onCascadeTransactions()" *ngIf="cascadeTransactionAction">Cascade
    Update</a>
  <a mat-raised-button  style="font-size: 15px" (click)="validateAllTransactions()">Validate Transactions</a>
  -->
  </div>
  <mat-form-field style="width: 500px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <!-- class="mat-elevation-z8" -->
  <div class="example-container mat-elevation-z8" style="width: fit-content;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- selection Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>


      <!-- Trn Column -->
      <ng-container matColumnDef="Trn" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction number</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.transactionnumber}} </td>
      </ng-container>

      <!-- TDate Column -->
      <ng-container matColumnDef="TDate">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>Transaction Date</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.dateTransaction}} </td>
      </ng-container>

      <!-- TAmount Column -->
      <ng-container matColumnDef="TAmount">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>Transaction Amount</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.amountLocal}} </td>
      </ng-container>

      <!-- TType From Column  from my client or from other client Account or person or entity--->
      <ng-container matColumnDef="TTypeFrom">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header> Transaction From Type </th>
        <td mat-cell class="centre" *matCellDef="let row">{{row.TTypeFrom}}</td>
      </ng-container>

      <!-- F ACC Number Column -->
      <ng-container matColumnDef="FPNumber">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>From Party Number</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.FPNumber}} </td>
      </ng-container>

      <!-- FACCName Column -->
      <ng-container matColumnDef="FPName">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>From Party Name</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.FPName}} </td>
      </ng-container>

      <!-- From ACC Number Column -->
      <ng-container matColumnDef="FromACCNumber">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>From ACC Number</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.FromACCNumber}} </td>
      </ng-container>

      <!-- TType To  Column to my client or to other client Account or person or entity-->
      <ng-container matColumnDef="TTypeTo">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header> Transaction To Type </th>
        <td mat-cell class="centre" *matCellDef="let row">{{row.TTypeTo}}</td>
      </ng-container>

      <!-- TPNumber Column -->
      <ng-container matColumnDef="ToPNumber">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>To Party Number</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.ToPNumber}} </td>
      </ng-container>

      <!-- ToPName Column -->
      <ng-container matColumnDef="ToPName">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>To Party Name</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.ToPName}} </td>
      </ng-container>

      <!-- TO ACC Number Column -->
      <ng-container matColumnDef="ToACCNumber">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>To ACC Number</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.ToACCNumber}} </td>
      </ng-container>

      <!-- FReviewd Column -->
      <ng-container matColumnDef="FReviewd">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>From Reviewd</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.FReviewd}} </td>
      </ng-container>

      <!-- TReviewd Column -->
      <ng-container matColumnDef="TReviewd">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>To Reviewd</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.TReviewd}} </td>
      </ng-container>

      <!-- Validation Column -->
      <ng-container matColumnDef="Validation">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>Validation</th>
        <td mat-cell class="centre" *matCellDef="let row"> {{row.Validation}} </td>
      </ng-container>

      <!-- Validation_Messages Column -->
      <ng-container matColumnDef="Validation_Messages">
        <th mat-header-cell class="centre" *matHeaderCellDef mat-sort-header>Validation_Messages</th>
        <td mat-cell class="centre" *matCellDef="let row">
          <!-- {{row.Validation_Messages}} -->
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" *ngIf="row.Validation_Messages">
            <div *cdkVirtualFor="let item of row.Validation_Messages" class="example-item">{{item}}</div>
          </cdk-virtual-scroll-viewport>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row ;let index = index">
          <button mat-icon-button color="primary" [disabled]="disableTransaction" color="accent" (click)="onEditSingleTransaction(row)"
            *ngIf="viewTransactionAction">
            <mat-icon class="mat-18">launch</mat-icon>{{index}}
          </button>
          <!-- <div *ngIf="showProgress">
            <mat-spinner></mat-spinner>
          </div> -->
          <button mat-icon-button [disabled]="disableTransaction" color="warn" (click)="deleteFieldValue(index)"
            *ngIf="deleteTransactionAction">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[25, 5, 10, 100]"></mat-paginator>
  </div>

  <!-- </mat-card> -->


  <!-- TType To Column Account or person or entity
        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction To Party </th>
          <td mat-cell *matCellDef="let row">{{row.to}}</td>
        </ng-container> -->

  <!-- TType From Column Account or person or entity
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction From Party </th>
          <td mat-cell *matCellDef="let row">{{row.from}}</td>
        </ng-container> -->