.window{
    padding-right: 0px;
    padding-left: 0px;
    background-color: gainsboro;
}
.example-card {
  max-width: 100%;
}

/* .example-container {
  height: 700px;
  overflow: auto;
} */


td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  padding: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


.mat-sort-header-container {
  display:flex;
  justify-content:center;
}


.mat-column-select {
  overflow: initial;
}


.toColo{
   background: #0000;
}
/* .padding{
   
    padding-right: 10px;
} */

/* paddingg{
    height: 35px;
    padding-right: 20px;

} */

.btn-space {
     height: 35px;
    margin-right: 15px;
}

hr {
    /* display: block;
    height: 0.5px;
    border: 0; */
    border-top: 0.5px solid #000;
    /* margin: 1em 0;
    padding: 0; */
    }
.vlabel{
    font-size: 20px;
    color: #000;
     margin-right: 210px;
      margin-left: 20px;
}



.example-viewport {
    height: 150px;
    min-width: 400px;
    color: red;
    margin-bottom: 2px;
    font-family: initial;
    font-size: smaller

    
  }

  
.margin-space{
  margin-right: 23px;
}

  
  .example-item {
    height: 20px;
  }
  
    



  Structure */
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: max-content;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  
  
  mat-cell{
    display:flex !important;
    justify-content:center!important;
    
  }
  
  mat-header-cell {
    display:flex;
    justify-content:center;
  }

  .centre {
    text-align: center
  }
  
  @keyframes example {
    0%   {opacity: 0.4;
      }
  
   
    100% {opacity: 1;}
  }
  .mat-row{
    animation: example ease 3s;
   
    
  }
/* table tbody tr:nth-child(odd){
  background-color:aliceblue
} */

table  tr:not([mat-header-row]):nth-child(odd){
  background-color:aliceblue
} 