<app-loader></app-loader>
<mat-accordion>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Add Entity basic info
    </mat-expansion-panel-header>
    <form [formGroup]="entityForm">
      <div class="row">
        <div class="col-2">
          <mat-checkbox class="example-margin" formControlName="isReviewed">Reviewed</mat-checkbox>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="Last Update Date" formControlName="changeBeginDate" readonly>
          </mat-form-field>

        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="Updated By" formControlName="updatedBy" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Entity Number" formControlName="entityNumber">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.entityNumber?.hasError('required')
                && (entityCtrls.entityNumber.dirty || entityCtrls.entityNumber.touched)">
            <strong>Entity number</strong> Required !!
          </mat-error>


        </div>
        <div class="col-6">
          <button  mat-raised-button color="primary" (click)="getSEntityByEntityNumber()">Get Info</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input [disabled]="disableEntity" matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-error
            *ngIf="entityCtrls.name?.hasError('required')&& (entityCtrls.name.dirty || entityCtrls.name.touched)">
            <strong>name</strong> Required !!
          </mat-error>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Commercial Name" formControlName="commercialName">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.commercialName?.hasError('required')
              && (entityCtrls.commercialName.dirty || entityCtrls.commercialName.touched)">
            <strong>Commercial Name</strong> Required !!
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field>
            <mat-select placeholder="Incorporation Legal Form" name="gender" formControlName="incorporationLegalForm">
              <mat-option *ngFor="let iv of Incorporation_values" [value]="iv.key">
                {{iv.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="entityCtrls.incorporationLegalForm?.hasError('required')
                && (entityCtrls.incorporationLegalForm.dirty || entityCtrls.incorporationLegalForm.touched)">
              <strong>Incorporation legal form</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Incorporation Number" formControlName="incorporationNumber">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.incorporationNumber?.hasError('required')
              && (entityCtrls.incorporationNumber.dirty || entityCtrls.incorporationNumber.touched)">
            <strong>Incorporation Number</strong> Required !!
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Business" formControlName="business">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.business?.hasError('required')
              && (entityCtrls.business.dirty || entityCtrls.business.touched)">
            <strong>business </strong> Required !!
          </mat-error>
        </div>
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Incorporation State" formControlName="incorporationState">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Url" formControlName="url">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-select placeholder="Incorporation Country Code" formControlName="incorporationCountryCode">
              <mat-option *ngFor="let cv of country_value" [value]="cv.key">
                {{cv.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="entityCtrls.incorporationCountryCode?.hasError('required')
                && (entityCtrls.incorporationCountryCode.dirty || entityCtrls.incorporationCountryCode.touched)">
              <strong>incorporation Country Code</strong> Required !!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card class="directors" style="padding-bottom: 20px ; margin-bottom: 23px;">
        <mat-card-header>
          <mat-card-title>Entity Directors</mat-card-title>
        </mat-card-header>

        <table title="Account Entity Director" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="partyNumber">
            <th mat-header-cell *matHeaderCellDef>Director Number </th>
            <td mat-cell *matCellDef="let element"> {{element.partyNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Director Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="edit" *ngIf="viewDirectorAction">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element;let index=index" (click)="editDirector(index,element)">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element;let index=index" (click)="deleteDirector(index,element)">
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedDColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDColumns;let index=index" (click)="selection.toggle(row)">
          </tr>
        </table>


        <mat-card-actions>
          <button type="button" class="btn btn-primary" (click)="addDirector()">Add Director</button>
        </mat-card-actions>

      </mat-card>



      <div class="row">
        <div class="col-6">
          <!-- <mat-form-field>
            <mat-select placeholder="Is Entitybusiness closed?" #isclosed formControlName="businessClosed">
              
 
              <mat-option [value]=true>True</mat-option>
              <mat-option [value]=null>Null</mat-option>          
              </mat-select>
          </mat-form-field> -->
          <mat-checkbox   formControlName="businessClosed" (change)="checkboxChange($event.source, $event.checked)"  #isclosed>Entitybusiness closed</mat-checkbox>

        </div>

        <div class="col-6" *ngIf="entityForm.get('businessClosed').value">

          <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="Date business Closed" formControlName="dateBusinessClosed">
          </mat-form-field>
        </div>
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tax Number" formControlName="taxNumber">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.taxNumber?.hasError('required')
                && (entityCtrls.taxNumber.dirty || entityCtrls.taxNumber.touched)">
            <strong>Tax number</strong> Required !!
          </mat-error>
        </div>

      </div>
      <div class="row">

        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tax Registeration Number" formControlName="taxRegNumber">
          </mat-form-field>
        </div>


        <div class="col-6">
          <div class="form-group">

            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment" formControlName="comments"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="Incorporation Date" formControlName="incorporationDate">
          </mat-form-field>
          <mat-error *ngIf="entityCtrls.incorporationDate?.hasError('required')
                  && (entityCtrls.incorporationDate.dirty || entityCtrls.incorporationDate.touched)">
            <strong>Incorporation Date</strong> Required !!
          </mat-error>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
<br>
<app-phones [(PhonesArray)]="phonesControl"></app-phones>
<br>
<app-addresses [(addressFormGroup)]="addressesControl"></app-addresses>
<br>
<div>
  <button matTooltip="Update Info Into Source" color="primary" mat-raised-button (click)="saveEntity()"
    *ngIf="cascadeEntityAction">Cascade Update</button>
</div>
<ng-content></ng-content>