.example-card{
    max-width: 50%;
}
table {
    width: 100%;
  }
  .row .col-12{
margin-bottom: 16px;
  }
  .directorContainer{
    border: 1px solid #b1abab;
    padding-left: 12px;
    margin-top: 10px;
  }

  .example-full-width{
    width: 100%;
  }
  .directors{
   background-color:  #f9f9f9
  }