<mat-form-field class="example-full-width">
<mat-select placeholder="{{config.path}}"   [formControl]="config.formcontrol" [multiple]="config.isMultiSelect">
  <mat-option *ngFor="let iv of config.options" [value]="iv.key">
    {{iv.value}}
  </mat-option>
</mat-select>
</mat-form-field>