<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name: </label>
          <input id="projectName" type="text" class="form-control" formControlName="projectName">
          <span class="text-danger" *ngIf="projectForm.get('projectName').invalid && projectForm.get('projectName').touched">
            Please Enter a valid name</span>
        </div>
        <div class="form-group">
          <label for="projectMail">Project Mail: </label>
          <input id="projectMail" type="email" class="form-control" formControlName="projectMail">
          <span class="text-danger" *ngIf="projectForm.get('projectMail').invalid && projectForm.get('projectMail').touched">
            Please Enter a valid mail</span>
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Status: </label>
          <select id="projectStatus" class="form-control" formControlName="projectStatus">
            <option *ngFor="let status of projectStatuses" [value]="status">{{status}}</option>
          </select>
        </div>
        <button type="submit" class="btn-primary btn">Submit the form</button>
      </form>

    </div>
  </div>
</div>
