<!-- {{personFormControl.value | json}} -->
<div class="col-10">
<app-validation-errors [(notValidElement)]="notValidElement"></app-validation-errors>

<mat-list>
  <!-- <h3 mat-subheader>S</h3> -->
  <h1 mat-subheader *ngIf="notValidSection.length>0">Sections Errors</h1>
  <mat-list-item *ngFor="let key of notValidSection" class="secionErrorItem">
    <h2 mat-line class="sectionErrorTitle">{{key.name}}</h2>
    <h6 mat-line> {{key.message }} </h6>
  </mat-list-item>
  </mat-list>
<app-loader></app-loader>

<div class="row">
    <h1 class="col-12">GoAML Reporting Person</h1>
    <app-person-page   [(personForm)]="personFormControl" [isReportingPerson]="true">
       <div class="row" header>

           <div class="col-6" >
   
                   <mat-form-field class="example-full-width" placeholder="Search By">
                     <mat-select placeholder="Serach By" [(value)]="filterBy" (selectionChange)="resetReportingPerson()">
                            <mat-option value="AML Head">AML Head</mat-option>
                            <mat-option value="chief compliance officer">chief compliance officer</mat-option>
                     </mat-select>
                   </mat-form-field>
                 </div>
                 <div class="col-6">
                        <button mat-raised-button color="primary" (click)="getReportingPersonInfo()">Get Info</button>

                 </div>
       </div>
        <button mat-raised-button color="primary" (click)="updateReportingPerson()" >Save </button>
        <button mat-raised-button color="primary" (click)="validate()" >Validate </button>
    </app-person-page>
</div>
    
</div>